[2018-04-06 14:29] gnapse opened #2 ".toHaveClass custom matcher"
At risk of sounding like I want to bloat the set of custom matchers provided by this lib, I'd like to propose `.toHaveClass('dropdown-toggle')`. The `class` attribute in html is designed to have multiple classes encoded in it, and it's often nice to be able to reliably check if an element has a certain class while ignoring the rest of what's encoded in the `class` attribute value.

[code]

Raising

[2018-04-06 14:55] kentcdodds commented on #2
Sounds good to me. I like `toHaveClass` :+1:

[2018-04-06 18:00] kentcdodds opened #5 "Utilities for dispatching events?"
I'm thinking there could be room for a utility for dispatching events in elements. Similar to react's test utils Simulate utilities except with actual browser events. What should the API look like?

[2018-04-07 02:35] #2 closed

[2018-04-07 11:39] pYr0x opened #7 "Provide chai assertions"
Would be nice to have chai assertions within this library

[2018-04-07 13:15] kentcdodds commented on #7
Thanks for the contribution @pYr0x. I think I'd rather just add a link in the README to https://github.com/nathanboktae/chai-dom :+1:

[2018-04-07 13:15] kentcdodds commented on #7
Would you be willing to add that?

[2018-04-07 13:47] kentcdodds commented on #2
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v1.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-07 14:13] kentcdodds commented on #5
I also prefer the former option. But let's call it `fireEvent` rather than `Simulate`:

[code]

If we can find a module with list of all events that would be super. Then we could use that to generate these.

Alternatively, we could use a Proxy, which would probably be really handy. That actually could be preferable... 🤔

[2018-04-07 15:28] manishsaraan commented on #7
I would like to add this in readme

[2018-04-08 09:20] sompylasar opened #8 "`queryByTestId`, `getByTestId` use partial case-insensitive text match by default, which is unexpected"
* `dom-testing-library` version: 1.1.0
* `node` version: N/A
* `npm` (or `yarn`) version: N/A

Relevant code or config

[code]

What you did:

1. Added an element with `data-testid="supertest-123"` to an empty DOM.
2. Queried the DOM via `getByTestId` by string `"tEsT"`.

What happened:

The element with `data-testid="supertest-123"` was found.

Reproduction repository:

https://codesandbox.io/s/p

[2018-04-08 10:22] sompylasar opened #9 "`toBeInTheDOM` matcher only ensures `instanceof HTMLElement`, expected to check that the element is attached to a full DOM tree"
* `dom-testing-library` version: 1.1.0
* `node` version: N/A
* `npm` (or `yarn`) version: N/A

Relevant code or config

https://github.com/kentcdodds/dom-testing-library/blob/f77f943a1887756372993eaf6ee3b054f2f58b91/src/jest-extensions.js#L18-L26

https://github.com/kentcdodds/dom-testing-library/blob/f77f943a1887756372993eaf6ee3b054f2f58b91/src/jest-extensions.js#L63-L85

<details>
<summary>(copy

[2018-04-08 10:25] sompylasar commented on #9
`toBeInTheDOM` can also optionally accept a `container` element which should be used instead of the `ownerDocument` (the `container` should have the same `ownerDocument`).

[2018-04-08 12:48] kentcdodds commented on #8
I know this is how it works and added it intentionally. Perhaps it is unexpected because an ID is supposed to be unique and it could cause problems if a partially matched item is found before the fully matched item.

For that reason I'd be willing to call this a bug and accept a PR to fix it.

[2018-04-08 12:53] kentcdodds commented on #5
Thanks @antoaravinth. That wont quite be enough because it doesn't allow you to specify custom options (as in the `fireEvent.input` call.

[2018-04-08 12:56] kentcdodds commented on #9
That sounds good to me. Perhaps we should deprecate the current one and add a new one in its place. Something like this?

[code]

Either that or do as you suggested and just make it an optional argument of `toBeInTheDOM`. I think I'll be easy to sway either way.

[2018-04-08 14:26] antoaravinth commented on #9
@sompylasar Agree, that's bug to me. To me we can keep the same name as `toBeInTheDOM`, but accepts the optional argument too.

[2018-04-08 14:28] antoaravinth commented on #8
I can pick this up provided, others didn't start it ;)

[2018-04-08 20:11] sompylasar commented on #9
Here's where I needed it to fail if the element happened to not be appended because of a bug: https://github.com/sompylasar/dom-testing-library/blob/5c4061834cf96bd8b878bf1a0ccc355da7d4c42e/src/__tests__/waitForElements.js#L94

I checked for parentNode, but for more deep tree it would be more convenient with a custom assertion.

[2018-04-08 23:47] kentcdodds commented on #7
Yes, I've been considering this. I think it would be a good idea 👍

[2018-04-09 15:25] jomaxx commented on #5
@kentcdodds so funny story. i literally worked on a similar library last week and just found out about your project https://github.com/jomaxx/react-dom-test-env. I have a `simulate` utility that I started which does real DOM events with some sane defaults https://github.com/jomaxx/react-dom-test-env/blob/master/src/simulate.js. I'm happy to contribute it to this project.

I also have a `debug` hel

[2018-04-09 16:14] kentcdodds commented on #5
Oh hey! That's so cool @jomaxx! I'd love to join forces! How would you like to make a PR that adds your simulate functionality to this library? I think it'll need a few changes (change it from `simulate` to `fireEvent` and allow for passing additional properties for the event), but it's pretty close to what I was hoping for!

About the `debug` helper, @antoaravinth is working on adding that by def

[2018-04-09 17:11] gnapse opened #11 "Jest async matchers"
There seems to be an ongoing effort in the jest library to add support for [async matchers](https://github.com/facebook/jest/pull/5919). I wonder how that affects the need to use something like  this library's `wait` utility.

[2018-04-09 19:08] jomaxx commented on #5
@kentcdodds will do!

[2018-04-09 20:14] ngbrown opened #12 "getByLabelText does not match when id has a "." in the string."
I had an element that looks like this:

[code]

and calling: `getByLabelText('Username')` throws because it won't find the <input /> with an id of `activity.username`.  Having a period in the `id` is valid HTML.

The reason is that on this line:

https://github.com/kentcdodds/dom-testing-library/blob/4bf26d70eda829ca0470c79952f53f5d51ab423b/src/queries.js#L27

the CSS selector `#` needs to be esca

[2018-04-09 20:29] kentcdodds commented on #7
Thanks for doing that! As soon as you've got that published, then please feel free to open a PR to this repo to have it use that instead (probably only need to update `./extend-expect.js` to be `require('jest-dom/extend-expect')` or something, and remove all the other files associated to these extensions).

On the mono-repo idea. I'm sure it'd be great. Here are some of the problems I have with th

[2018-04-09 20:34] gnapse commented on #7
Yes sure, I wasn't even sure my self how would it work. In any case I think the org was a better idea than the mono repo, but probably also not really needed.

Will proceed with publishing the other repo. Do you mind giving a quick intro about that "automatic releases" thing you mentioned? If I used kcd-scripts in jest-dom, is there anything to be aware of about publishing it now and when it is up

[2018-04-09 20:46] kentcdodds commented on #11
We could potentially add matchers (to `jest-dom`) that support async matchers. But I see `wait` as useful beyond just assertions but waiting for some state to be true and then continuing on with further assertions and actions. So we'll probably keep it around.

For now I'll go ahead and close this and we can discuss async matchers more in jest-dom :+1: Thanks!

[2018-04-09 20:46] #11 closed

[2018-04-09 20:48] kentcdodds commented on #7
In your project (clean, git-wise), run:

[code]

Follow the prompts (use "Travis"). It'll make changes to your project, go ahead and `git reset --hard HEAD` with those because you don't need them. Make sure that your version is set to `0.0.0-semantically-released`, then push. It should kick in and start auto-releasing! Check out the `other/MAINTAINING.md` and `other/manual-releases.md` files to le

[2018-04-10 22:01] sompylasar opened #16 "`getByText` scoping and preference order when the text is not unique across the page"
* `dom-testing-library` version: 1.4.0
* `node` version: N/A
* `npm` (or `yarn`) version: N/A

#### Relevant code or config

[code]

#### What you did:

Used `getByText` with a text that is not unique across the page (which is often the case).

#### What happened:

Wrong element was found.

#### Reproduction repository:

N/A

#### Problem description:

When attempting to find an element by text, l

[2018-04-10 22:02] #7 closed

[2018-04-10 22:05] kentcdodds commented on #7
:tada: This issue has been resolved in version 1.5.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v1.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-10 22:39] sompylasar commented on #16
No because I'd like to avoid data-testid altogether.

Yes, this is on my TODO to expose waitForElementOptions.

[2018-04-10 22:46] kentcdodds commented on #16
Well, the user has some way of knowing which "Create" button to click. If that method is visual-only (or similar for screen-reader users), then you're going to have a really hard time simulating that with a visual analysis tool of some kind. That's definitely outside the scope of this tool.

[2018-04-10 23:03] sompylasar commented on #16
I had a glimmer of hope when you started "the Guiding Principles", but now it's gone. Only low-hanging fruit cases are in the scope. Thanks.

[2018-04-10 23:03] #16 closed

[2018-04-10 23:15] kentcdodds commented on #16
Hey now @sompylasar. I'm really sorry that the scope of this project disappoints you. I'm afraid that testing is a means to an end for me and not an end in itself. There are companies that have been trying to solve this problem for years now. It's not an easy problem. We _have_ to make trade-offs unless we want to spend our lives trying to solve the problem. This library (and every abstraction) ne

[2018-04-11 02:49] gnapse commented on #9
Reopened this issue in gnapse/jest-dom#3 so we can continue the discussion over there.

[2018-04-11 05:40] sompylasar commented on #9
@gnapse Thanks, we can close this one then in favor of yours https://github.com/gnapse/jest-dom/issues/3

[2018-04-11 05:40] #9 closed

[2018-04-11 07:06] dfcook opened #17 "Add bindQueriesToElement to remove need for duplicated code in libraries built on dom-testing-library"
There's a block of code used by vue-testing-library, react-testing-library and in the tests here:

[code]

I propose adding a `bindQueriesToElement` utility function to encapsulate this code.

[2018-04-11 12:47] #17 closed

[2018-04-11 12:50] kentcdodds commented on #17
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-11 16:27] kentcdodds commented on #12
Sure!

[2018-04-17 09:06] igomezal commented on #5
Maybe you could also use something like: https://github.com/PolymerElements/iron-test-helpers

[2018-04-18 23:23] #5 closed, assigned to nobody

[2018-04-19 01:37] jlongster opened #24 "Add a function for printing a simple DOM representation for debugging"
Would you be interested in a function like this? The only annoying thing I've found with using jsdom is that it's hard to debug if you don't know what's going on or are confused. In the browser you can just look at it, but you can't with jsdom. This gives me most of what I want:

[code]

You can now do `console.log(prettyDOM(node))` and get an output like this in the terminal:

<img width="695" al

[2018-04-19 01:41] jlongster commented on #24
Even better, add the attached testid to the output (and maybe allow the user to pass in specific attributes they want printed?):

[code]

<img width="587" alt="screen shot 2018-04-18 at 9 40 42 pm" src="https://user-images.githubusercontent.com/17031/38966614-2fce5614-4351-11e8-8a65-ccdedcdacadd.png">

[2018-04-19 02:03] kentcdodds commented on #24
Perhaps we could expose this:

https://github.com/kentcdodds/dom-testing-library/blob/131a20bcc7cca4c0853acc49365a6c4746165471/src/queries.js#L150-L160

![dab5me1v4aaehlr](https://user-images.githubusercontent.com/1500684/38967293-f9e5a610-434b-11e8-835a-b2d81b0fd831.jpg)

What do you think?

[2018-04-19 03:14] jlongster commented on #24
Yeah, that's probably good! I like seeing a more concise form, is there a way to customize it at all? I basically don't care about most of my attributes (and there is quite a bit in my dom, which makes it harder to read). It's not a big deal though, I'd be fine just using that function.

[2018-04-19 13:33] gnapse commented on #24
@kentcdodds I can do it. Also, do you think it should publicly keep that name `htmlElementToDisplay`? I think I like something more along the lines of `debugDOM` above for the name.

[2018-04-19 13:37] kentcdodds commented on #24
Thanks @gnapse! How about `prettyDOM` as suggested in @jlongster's util? Perhaps we could also expose a `logDOM(container)` as a shortcut to `console.log(prettyDOM(container))` 🤔

[2018-04-19 17:36] Zirro commented on #24
This [custom formatter](https://github.com/jsdom/jsdom-devtools-formatter) and jsdom's [`serialize()` -function](https://github.com/jsdom/jsdom#serializing-the-document-with-serialize) may be of interest to you as well.

[2018-04-20 01:44] kentcdodds commented on #24
I'm pretty happy with the `printDOM` API :+1:

I think I'd like to re-export it in react-testing-library :)

[2018-04-20 01:44] #24 closed

[2018-04-20 20:30] alexkrolick opened #27 "getAllBy* matchers?"
* `dom-testing-library` version: 2.1.1

It looks like all the matchers are designed to return the first element matching a query. Would it make sense to also export matchers that return all of the matching nodes as well (e.g., `document.querySelectorAll` vs `document.querySelector`)? Some use cases are testing the length or sort order of lists, handling pagination, etc.

[2018-04-20 20:45] kentcdodds commented on #27
Yes, I can see the value of this and done have asked me about it, so sure, I'd accept a pull request for it 👍

[2018-04-24 19:56] #27 closed

[2018-05-04 01:12] alexkrolick commented on #12
#22 should have closed this it looks like

[2018-05-04 01:13] #12 closed

[2018-05-04 19:33] #8 closed

[2018-05-04 19:35] kentcdodds commented on #8
:tada: This issue has been resolved in version 1.10.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v1.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-04 21:33] alexkrolick opened #30 "Breaking change proposal: Use exact string match by default"
Same as https://github.com/kentcdodds/react-testing-library/issues/76 which would also expose this API

### Describe the feature you'd like:

Make exact match the default instead of partial case-insensitive match. Regex would be recommended for those cases instead.

- partial: `/mystring/`
- case-insensitive partial: `/mystring/i`
- prefix: `/^mystring/`
- postfix: `/mystring$/`
- case-insensitive

[2018-05-05 04:44] kentcdodds opened #33 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-05-05 04:45] alexkrolick commented on #33
I don't think this deploy was needed, the last commits just add GitHub issue templates

[2018-05-05 04:45] #33 closed

[2018-05-05 04:45] kentcdodds commented on #33
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-05-05 10:16] kentcdodds commented on #33
We lost 100% code coverage somehow. We'll need to get that back before we can release anything new. I think your current PR can get us there so I'm not worried.

[2018-05-06 03:17] #30 closed

[2018-05-07 23:36] InExtremaRes opened #36 "Add typings for the use with TypeScript"
Well, I think there is no much to say. At this time [react-testing-library](https://github.com/kentcdodds/react-testing-library) has a file for [typings](https://github.com/kentcdodds/react-testing-library/blob/1dfcd73de884c4411af5ce29fe23c19f845e459d/typings/index.d.ts).

Is there any plans to add some for this project?

Best regards.

[2018-05-07 23:37] alexkrolick commented on #36
[Yes](https://github.com/kentcdodds/react-testing-library/issues/76#issuecomment-386851236)

@maddijoyce

[2018-05-07 23:44] InExtremaRes commented on #36
Oh, thank you. I was looking for a file or an issue in this project and never thought to look there.

[2018-05-07 23:54] maddijoyce commented on #36
Yep, I'm working on this at the moment, I'll be updating soon.

[2018-05-08 00:59] InExtremaRes commented on #36
I am sorry. Will it include types for the `jest-dom` custom matchers?

[2018-05-08 01:01] maddijoyce commented on #36
At this stage, I haven't but I can look into it.

[2018-05-08 01:07] InExtremaRes commented on #36
[Here](https://github.com/gnapse/jest-dom#using-with-typescript) are some tips for augment `jest` namespace with the matcher's types. I guess the typings could go that way and do the merge declaration when importing (but I'm not very familiar with namespaces augmentation).

[2018-05-08 01:25] gnapse commented on #36
Actually, regarding jest-dom and typescript, I was thinking that there must be something better to be done than what's described in the README of that repo. I attempted to do something [here](/gnapse/jest-dom/pull/11) and would greatly appreciate the review of someone here more knowledgeable of typescript, before I merge it.

[2018-05-10 15:48] ericchernuka opened #38 "wait-for-expect dependency throws Unknown plugin "@babel/proposal-class-properties""
* `dom-testing-library` version: 2.2.0
* `react-testing-library` version: 3.0.2
* `react` version: 16.3.1
* `node` version: v8.9.4
* `npm` (or `yarn`) version: 6.0.0

### What you did:
Upon updating to the latest version of react-testing-library I now receive the following error when running `npm test`

### What happened:

[code]

### Problem description:
I'm not entirely sure if this a config iss

[2018-05-10 15:51] lgandecki commented on #38
Very weird, could you remove your node_modules and package-lock.json and run npm install again?

[2018-05-10 15:55] ericchernuka commented on #38
Removed both node_modules and package-lock.json and it still seems to happen.

[2018-05-10 15:58] lgandecki commented on #38
I don't understand why jest is trying to read .babelrc from there - you shouldn't be "babeling" your node_modules.

But, at the same time, we shouldn't have the .babelrc there in the first place in the npm package anyway, only in the sources, so I will tweak that.

[2018-05-10 16:17] lgandecki commented on #38
No problem. Please let us know what you find :-)

You might need to put. "wait-for-expect": "0.6.2" in your devDependencies to force using that particular version

[2018-05-10 17:38] ericchernuka commented on #38
After fixing what I believe was a jest configuration problem and doing a fresh npm install I no longer receive this error. Thanks for all your help.

[2018-05-10 17:38] #38 closed

[2018-05-17 20:56] kentcdodds opened #41 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-05-17 20:58] #41 closed

[2018-05-18 17:53] kamalgill opened #42 "Matcher import path is broken in get-queries-for-element typings file"
The Matcher import in `typings/get-queries-for-element.d.ts` is incorrect.

* `dom-testing-library` version: 2.3.1
* `react` version: 16.3.1
* `node` version: 8.11.1
* `npm` (or `yarn`) version: 6.0.1

### Relevant code or config:

The current (incorrect) code is:
[code]

The correct import is as follows:

[code]

### What you did:
Attempt to call `ReactTesting.renderIntoDocument(...)` in a `foo.t

[2018-05-18 18:38] #42 closed

[2018-05-18 18:41] kentcdodds commented on #42
:tada: This issue has been resolved in version 2.3.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v2.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-25 08:48] npeterkamps opened #44 "prettyDOM error when container is document"
* `dom-testing-library` version: 2.3.2
* `cypress-testing-library` version: 2.0.0
* `cypress` version: 2.1.0
* `react` version: 16.3.2
* `node` version: 8.4.0
* `npm` version: 5.3.0

### Relevant code or config:

[code]

### What you did:

I'm selecting an element using `getByLabelText`, but my code isn't setting the `htmlFor` correctly, so it couldn't find it.

### What happened:

1. `cypress-tes

[2018-05-25 16:32] sompylasar commented on #44
pretty-format bugs out because it tries to print the whole document, which in your case is probably huge, without thinking about string memory limitations. Looks like it cannot apply the DOM plugins and tries to handle it as a regular object.

I believe the best solution would be to check if the htmlElement passed into prettyDOM is actually an HTMLElement, and if it's not, fall back to a shallow (

[2018-05-25 17:06] kentcdodds commented on #44
I think you're overestimating memory limits...

The problem is that `document` doesn't have an `outerHTML` property.

I think what we need is a check that if the `htmlElement` is `document`, then we should get things via `document.documentElement.outerHTML`. Should be pretty easy.

The reason is because the `debugContent` includes extra characters for syntax highlighting.

[2018-05-25 18:57] sompylasar commented on #44
@kentcdodds This error below is about the memory limits, `pretty-format` cannot build a string such big that it can contain the whole `document` printed recursively as a plain object.
[code]

Even if you get `document.documentElement.outerHTML` for the check below `prettyFormat` call, the `prettyFormat` call may still fail on the `document` (at least this is what we see with `jsdom`, maybe because

[2018-05-25 20:49] kentcdodds commented on #44
Aahhh, gotcha. Maybe we should also allow for not using `pretty-format` or maybe not logging the DOM at all? Then cypress-testing-library can opt-into that. Cypress has better ways of inspecting the DOM anyway.

[2018-05-25 21:04] sompylasar commented on #44
This isn't just about Cypress, the same can be reproduced with `getByLabelText` in `dom-testing-library`, it calls `debugDOM` with `container` that can easily be the `document`.

[2018-05-25 21:07] kentcdodds commented on #44
I was suggesting that we do both. In the cypress situation it's more likely to run into the memory issue than in a JSDOM situation where you're normally not rendering as much DOM, so it shouldn't be necessary to opt-out of the prettyFormat stuff there (like it would be in cypress). But in both cases we should add a check for `document` and use `document.documentElement` instead in that case.

[2018-05-25 22:51] sompylasar commented on #44
👍 Yes, agree.

[2018-05-26 10:07] npeterkamps commented on #44
When I pass the actual `document` (`window.document` within Cypress) to `pretty-format`, I get the following output:
[code]

`htmlElement instanceof HTMLDocument` doesn't work in Chrome.  So I added a simple check for `documentElement`
[code]

Now I get the `<html>` node. `outerHTML.length` is `100285`. `debugContent.length` is `201056`.

So in Cypress situation, I'm not running into memory issues

[2018-05-26 13:35] kentcdodds commented on #44
Actually, I wonder if we could be smarter and rather than opting out we just somehow determine whether we're in node or browser and only format in node. That would fix issues when running test in codesandbox as well.

[2018-05-26 20:57] kentcdodds commented on #44
Actually, thinking about it further I think we have three cases:

1. Running in node? Highlight and format
2. Running in Cypress? Don't even log it.
3. Running in a browser (but not Cypress)? Format only.

Because I think it would still be valuable to have the log in codesandbox/a browser, just not in cypress. I'm not sure of the best way to accomplish this though. Ideas/PRs welcome

[2018-05-27 12:05] npeterkamps commented on #44
We could do something like:

[code]
`prettyDOM` would merge the 3rd parameter with the options it creates for `pretty-format`.

[2018-05-27 13:38] kentcdodds commented on #44
Thanks for that. At first I was going to say I didn't want to handle the cypress use case in this library because it feels like the wrong place for this abstraction, but I think that it's not really a big deal so let's go for it. A PR would be appreciated! Thanks!

Actually, thinking about it further, I'm not sure that this will work in codesandbox because I think `module` and `module.exports` _ar

[2018-05-28 08:47] npeterkamps commented on #44
When [running in codesandbox](https://codesandbox.io/s/lrvmo6j549), all relevant tests pass (after some minor changes, see SANDBOX_CHANGES.md).

In other words, it uses the Node logging; highlight and format. So the question is whether this is undesirable. I think it's better to use Node logging, since it matches what will happen when testing using Node or npm scripts. Otherwise the environment ch

[2018-05-30 09:07] npeterkamps opened #46 "data-original-title support for getByTitle"
### Describe the feature you'd like:

Many tooltip libraries remove the `title` attribute and add `data-original-title` with the same value. I'm using [tippy.js](https://atomiks.github.io/tippyjs/). [Bootstrap](https://getbootstrap.com/docs/4.0/components/tooltips/) does this too.

Is this something that `getByTitle` should support out of the box?

### Teachability, Documentation, Adoption, Migrat

[2018-05-30 13:19] kentcdodds commented on #46
Thanks for the issue @npeterkamps. I don't think we should add this as it is not enough of a convention to warrant it. This is a situation where the cost of bloat to the library isn't worth the benefit of helping the few people who use libraries like the one you're suggesting.

That said, building this yourself should be pretty simple and that's the recommended way forward. Thanks!

[2018-05-30 13:19] #46 closed

[2018-05-30 19:13] #44 closed

[2018-06-01 07:36] JonathanStoye opened #47 "Add support to specify the type of node which is selected"
So I ran into an issue when I was working with cypress. I wanted to `.click()` a button which had the exact same wording as the headline right above. `getByText`always took the headline instead of the button so I had to use `.get('button:contains("[...]")')` to be able to get the button.

![screen shot 2018-06-01 at 08 45 35](https://user-images.githubusercontent.com/21689428/40826185-3e23a62e-657

[2018-06-01 10:40] sompylasar commented on #47
This is a valid suggestion, and it leans towards a relevance ordering of found nodes.

Imagine the button you're looking for contains a div, and your headline, too. You'll have two div matches with identical text, which one should the test prefer?

I use a composition of visual distance, absolute zindex, and area in my getVisuallyBelow query (not in the lib yet), but this may sound more complicate

[2018-06-01 12:43] gnapse commented on #47
Most of there `get*` and `query*` helpers accept what the library calls a [`TextMatch`](https://github.com/kentcdodds/dom-testing-library#textmatch), which can be a string, a regex or a function. If you use the function form, you should be able to solve this:

[code]

However, I do agree that this seems a bit too complex. There could be a way to pass a selector to limit the elements where to searc

[2018-06-01 15:28] kentcdodds commented on #47
There's actually already an option called `selector` which allows you to scope your search to certain elements. So I think you should be able to do:

[code]

That should work. Let us know!

[2018-06-01 16:34] gnapse commented on #47
Oh, ok, good to know. But `getByText` does not show it in its documentation in the README. Actually `getByLabelText` is the only one documenting that option. If indeed all the `get*` and `query*` helpers support it, then the README should be updated.

[2018-06-01 16:36] kentcdodds commented on #47
Yes, I agree, we should update docs. @JonathanStoye, since you would have benefitted from this knowledge directly, would you like to be the one to contribute docs for it?

[2018-06-01 16:36] JonathanStoye commented on #47
Shame one me. And of course I will transform this issue to update the docs then. 😊

[2018-06-04 15:02] #47 closed

[2018-06-06 03:43] hnordt opened #50 "queryByText failing when querying a component that returns a string"
* `dom-testing-library` version: 2.4.0
* `react` version: 16.3.2

### Relevant code or config:

[code]

### What you did:

I ran the test.

### What happened:

It returned an error:

[code]

### Reproduction:

https://codesandbox.io/s/j4rkx7jmlv

### Problem description:

I expect `queryByText()` to work with components that return a string.

### Suggested solution:

Improve `queryByText()` so it

[2018-06-06 06:34] sompylasar commented on #50
Full call stack, `https://j4rkx7jmlv.codesandbox.io/ -> ~/`:
[code]

The most interesting part:
[code]

[`jest-dom`'s `getMessage` assumes `expectedValue` and `receivedValue` to always be strings](https://github.com/gnapse/jest-dom/blob/6f28c1cff9bd0134af3c08ff73eb599aa004551f/src/utils.js#L35), passing them to `redent` for reformatting, but looks like it's not the case if it's called from [in `to

[2018-06-06 10:38] lgandecki opened #51 "Please publish v2.4.0 :-"
Hey guys, looks like 2.4.0 is the latest release here but npm still has 2.3.2, any chance for publishing?

[2018-06-07 04:15] kentcdodds commented on #51
This is very odd. [The build output](https://travis-ci.org/kentcdodds/dom-testing-library/builds/385845667) makes it appear the publish was successful. I'll try a manual publish.

[2018-06-07 04:16] #51 closed

[2018-06-07 04:17] kentcdodds commented on #50
This appears to be an issue with jest-dom and not dom-testing-library. Perhaps there could be some more helpful error messages here. Please file an issue there! Thanks!

[2018-06-07 04:17] #50 closed

[2018-06-07 04:19] kentcdodds commented on #51
:tada: This issue has been resolved in version 2.5.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v2.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-07 12:49] gnapse commented on #50
Coincidentally this was being worked on and fixed in gnapse/jest-dom#15 but the build on travis is failing and I'm working on it so it's not released yet.

[2018-06-07 20:18] gnapse commented on #50
This should be fixed now in `jest-dom` v1.3.1. Can you please try it out and confirm that it's working?

[2018-06-10 21:04] Dajust opened #53 "Improve the 'byText' queries capability."
### Describe the feature you'd like:

'byText' queires, `getByText()`, for example, works greate in writing tests that closely resembles users actions, but it has a drawback, expecially on integration tests, which usually requires many components to be rendered.

Sometimes a user might be interested in a particular text, but only on a prticular section of the page. Take the bellow screenshot for e

[2018-06-10 21:07] sompylasar commented on #53
See https://github.com/kentcdodds/cypress-testing-library/pull/11

[2018-06-10 21:14] sompylasar commented on #53
Also see getVisuallyBelow in the comment here: https://github.com/kentcdodds/cypress-testing-library/issues/6#issuecomment-392115036
I cannot find time to make it a part of cypress-testing-library or dom-testing-library, but the idea I hold is that the DOM search by text or other visual criteria has to happen on the whole set of DOM nodes, ranking them by visual criteria such as distance from an a

[2018-06-10 21:33] Dajust commented on #53
Hey, thanks so much for the quick response @sompylasar. I'm not sure, but I think the solutions you're pointing to are all for cypress-testing-library. I'm suggesting this feature for react-testing-library. I've not used others, but I think if we could add just that one line here, the rest dependants shouldn't bother changing a thing.

[2018-06-10 21:42] sompylasar commented on #53
@Dajust Yes, as I understood, you wanted a field in the "options" argument to override the "container" argument to serve the same purpose that "container" already does. First of all, I suggest "within" for a name, "in" is too short to be searchable, it's also a JS keyword in some contexts. Second, could you please elaborate why do you want it to be in the "options" and why "container" does not wor

[2018-06-10 21:47] sompylasar commented on #53
P.S. The solutions I show are implemented in cypress-testing-library because I now use Cypress at work for UI end-to-end tests and that's where I was given enough time to apply my ideas. Previously I played with Puppeteer and made a POC implementing the same ideas with injected scripts (for context, this is how Cypress works, by injecting scripts next to your running app).

[2018-06-10 21:50] sompylasar commented on #53
Specifying `within` option in the test does the same, makes your test rely on DOM structure, right?

[2018-06-10 22:00] Dajust commented on #53
Sure, I don't have a problem with whatever name that works :smile: I'm also not doing end-to-end testing at this time, just integration tests.
In react-testing-library, I'm not sure of any way to override what the container would be because it is [hard-coded during the render phase](https://github.com/kentcdodds/react-testing-library/blob/master/src/index.js#L5). Besides, I think it's necessary th

[2018-06-10 22:06] Dajust commented on #53
Okay, you could override the container should be during the render phase, but that doesn't change anything to what we want, because whatever container that is provided needs to 'contain' what was rendered before we can even start querying stuffs.

[2018-06-10 22:12] sompylasar commented on #53
@Dajust Okay, if you want to query within a node that you got (how?), you could use dom-testing-library queries directly to provide that node as a container, not use the pre-baked query functions provided by `render`.

[2018-06-10 22:52] Dajust commented on #53
Yeaa, makes sense! :smile:

But on a second thought, then that means we have to import both react-testing-library and dom-testing-library in our tests.  That kinda kills the beauty of having react-test-library as a wrapper around dom-testing-library. (Same applies to other dependants)

Also, how about teachability? I was actually writing a thing on react-testing-library that inspired this suggesti

[2018-06-10 23:07] sompylasar commented on #53
I don't have a lot of real teaching / course writing experience, but when I explain things to my colleagues, my goal is to make them understand how the thing works, not to abstract things away from them pretending there's nothing down there. I'd start with explaining that react-testing-library is a thin wrapper around dom-testing-library, which in turn is a thin wrapper around the DOM; their purpo

[2018-06-11 00:08] gnapse commented on #53
What about:

[code]

You don't have to use the container obtained from `render`, you can query for some other part inside it and use it as the container to pass to `getByText`.

[2018-06-11 01:19] kentcdodds commented on #53
I think this should work (on my phone):

[code]

[2018-06-11 01:19] kentcdodds commented on #53
And by that, I'm pretty sure that'll work right now.

[2018-06-11 03:14] gnapse commented on #53
I initially thought this would be unwarranted, but since the version of the `query*` and `get*` functions exported by react-testing-library's `render` do not receive the container and work implicitly with the render container element as the root, I think it makes sense.

Both `in` or `within` seem ok to me.

[2018-06-11 03:21] kentcdodds commented on #53
I vote for `within`

Who wants to make the PR?

[2018-06-11 03:29] kentcdodds commented on #53
What if we did:

[code]

Reads more like a sentence I think... What's returned by within is all the queries with the given element as the container.

[2018-06-11 03:29] kentcdodds commented on #53
I think I like that better

[2018-06-11 03:31] gnapse commented on #53
I can do it, but only if @Dajust is not interested in doing it himself.

Regarding the other option you just suggested, what happens if you call `within` with a node that is node contained in the render container? Not that it'd be the common use case, but the way you pose that api, it could happen. It's an edge case though, we could ignore it or catch it with an error or something.

[2018-06-11 03:37] kentcdodds commented on #53
lol, now that I think of it, `within` as written above is basically `getQueriesForElement` 😂

[code]

Sooo.... Hmmm.... considering this, I'm thinking that no change is best and rather we should add examples/docs to help people avoid this question.

[2018-06-11 03:39] gnapse commented on #53
It's always best when no api changes are needed. Documentation then, a FAQ entry maybe? Or something more explicit?

[2018-06-11 03:53] kentcdodds commented on #53
I agree. @Dajust, what would have made this approach more obvious? How can we document this better?

[2018-06-11 07:39] Dajust commented on #53
This works just fine for me @kentcdodds :smile: And now that I gave a broader thought, same is applicable to all queries, not just the "byTexts".

Docs: We could add a new section, maybe somewhere after the **[queryAll and getAll APIs](https://github.com/kentcdodds/react-testing-library#queryall-and-getall-apis)** and before the **[Exaples](https://github.com/kentcdodds/react-testing-library#examp

[2018-06-11 08:00] Dajust commented on #53
Umm... :thinking:
I just thought that `within` is not actually an API, it is just an alias. Instead of documenting it, we should be documenting `getQueriesForElement`. But the problem is `getQueriesForElement` doesn't quite convey the intention in this use case.

How about we export `getQueriesForElement` as `within` instead? The docs will make more sense. And  we'll no longer need to add the addi

[2018-06-11 13:10] kentcdodds commented on #53
We could export it with both names as it makes sense as it's named for the current use case and makes more sense as within for the new use case. Then we can document it as you described.

[2018-06-11 13:13] Dajust commented on #53
Can I do this?

[2018-06-11 14:59] kentcdodds commented on #53
Please do!

[2018-06-14 09:11] oliverjam opened #56 "Helper for testing style rules"
### Describe the feature you'd like:
Would you be interested in adding a helper for checking style rules? I taught a workshop on testing using the library and ended up with students stuck trying to check (for example) a button's background-colour had correctly changed.

Getting a DOM element's style rules is kind of gross, it so might be nice to expose a util like `getStyleValue`.

### Suggested i

[2018-06-14 15:03] kentcdodds commented on #56
Hi @oliverjam!

Check out the [`toHaveStyle`](https://github.com/gnapse/jest-dom#tohavestyle) assertion in [`jest-dom`](https://github.com/gnapse/jest-dom) :+1:

[2018-06-14 15:03] #56 closed

[2018-06-15 01:30] hnordt opened #57 "Merge wait and waitForElement"
To simplify the `wait()` API I think we could merge `wait()` and `waitForElement()`.

The implementation would be something like:

[code]

[2018-06-15 01:31] kentcdodds commented on #57
I'm in support of this 👍 thoughts from others? I think I'd accept a PR for this.

[2018-06-15 01:32] hnordt commented on #57
@kentcdodds sure, I can submit a PR, I'll just wait for thoughts from other people.

[2018-06-15 02:03] sompylasar commented on #57
`waitForElement` has quite a few options (and could be more to come) that are specifically about the DOM:
[code]
`wait` has a different set of options:
[code]

[2018-06-15 02:09] hnordt commented on #57
@sompylasar I don't see any problem on it because they are just optional options, when you provide the `callback` you are returning an element anyway, so you know that you can pass `container` or `mutationObserverOptions` as options.

It's also very easy to validate if the passed option is allowed in the context. The trade-off is an easier API.

[2018-06-15 15:01] antoaravinth commented on #57
I see good points from @hnordt. We are using react-test-utils in a project and honestly I think we can have a single `wait` API exposed, as a result we will get an easier API. Its good to hide the implementation details like `waitForElement` inside `wait`.

[2018-06-18 22:39] hnordt commented on #57
Closed due to https://github.com/kentcdodds/dom-testing-library/pull/58#issuecomment-398217658

[2018-06-18 22:40] #57 closed

[2018-06-19 20:24] hipstersmoothie opened #61 "getByAltText doesn't work with space in text"
* `dom-testing-library` version: current
* `react` version: 16.4.1
* `node` version: 9.11.1
* `npm` (or `yarn`) version: 1.6.0

### Relevant code or config:

[code]

[code]

### What you did:

### What happened: Cannot find by alt text containing space

### Reproduction: Use above code

### Problem description: Should be able to find by alt text with spaces.

`getByAltText('Menu Toggle')` doesn't

[2018-06-19 20:28] #61 closed

[2018-06-19 20:44] gnapse commented on #61
In believe `getByAltText` only works with the type of elements that support having an `alt` attribute, and `button` does not seem one of those. Check [its documentation](https://github.com/kentcdodds/dom-testing-library#getbyalttext) for details. Also according to [the code](https://github.com/kentcdodds/dom-testing-library/blob/275496f7dac2b25aed1ab3f83ffafa105d4e083b/src/queries.js#L141) it shou

[2018-06-19 20:45] hipstersmoothie commented on #61
I think i was misreading the output. sorry for the noise!

[2018-06-28 15:24] rahsheen opened #63 "Incorrect Environment Detection When Running with Ember Test Server"
* `dom-testing-library` version: 2.6.3
* `react` version: n/a
* `node` version: 8.4.0
* `npm` (or `yarn`) version: 6.1.0

### Relevant code or config:

Using any dom-testing-library functionality within a running ember project (ember s) and viewing tests at "/tests";

### What you did:

Attempted to use dom-testing-library along side standard Ember tooling for testing. When assertions failed (elem

[2018-06-28 16:02] kentcdodds commented on #63
Maybe we could try to reference variables that we _know_ are Node only. Checking for `module` is actually just checking whether we're in a CommonJS environment, not Node. So we just need better node detection. Ideas?

[2018-06-28 16:15] sompylasar commented on #63
The real question asked there is not "inNode", but "canUseBashStyleColorHighlight", right? And the answer is not just "if in Node, use it", right? So we don't actually need to detect if we're in Node or not, we need to detect where the output is assumed to be printed (i.e. to a terminal that supports colors).

[2018-06-28 16:45] kentcdodds commented on #63
:tada: This issue has been resolved in version 2.6.4 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v2.6.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-08 04:52] duncanleung opened #65 "getByPlaceholderText Should Also Return Type HTMLInputElement?"
* `dom-testing-library` version: 2.7.0
* `react` version: 16.4.1
* `redux-form` version: 7.4.2
* `node` version: 8.11.3
* `npm` (or `yarn`) version: 6.1.0

### Relevant code or config:

[code]

`renderWithRedux` is the same as the examples from `react-testing-library`
[code]
### What you did:

I am using `redux-form` for my forms.

I want to:
* modify the input values (email / password)
* click "L

[2018-07-08 04:55] kentcdodds commented on #65
Would that support a textarea as well? I'm not sure what other elements support a placeholder, but any elements that support a placeholder should be what this query should be able to return.

[2018-07-08 04:55] kentcdodds commented on #65
Also, thank you for the detailed issue! Hopefully one of our TS maintainers can jump in and help with this one :)

[2018-07-08 16:50] jpavon commented on #65
This is a problem with all the get and queries where the returned element is unknown, this could be a solution:

[code]

[2018-07-08 18:08] kentcdodds commented on #65
That sounds fine with me. I don't maintain the typescript typings so anyone who wants to help maintain them is welcome to do so.

[2018-07-08 18:36] sompylasar commented on #65
That's true.

But I think the existing typings are right, type definition should not be changed.

The element type is actually unknown. The return value is generic, `HTMLElement`. The callers have to narrow down the types themselves after checking which type of element they actually got from the query. It's an assumption that they got `HTMLInputElement` which has to be verified in runtime, they co

[2018-07-10 15:48] kentcdodds opened #69 "Remove extend-expect"
People should know their abstractions and it doesn't make sense to me that we have this here. Instead people should `import 'jest-dom/extend-expect'`.

Doing this will help people know where they should go to learn about that abstraction.

This will be a breaking change.

[2018-07-10 17:01] antoaravinth commented on #69
@kentcdodds  So we can have a plan for the same? May be we need to add deprecated warning first and then remove?

[2018-07-10 17:23] kentcdodds commented on #69
I don't think it'd be worth the deprecation warning. Migrating away from this will be really easy.

[2018-07-10 20:11] gnapse commented on #69
I'll take this.

[2018-07-10 20:28] gnapse commented on #53
Wasn't this solved in #54? If so the issue should be closed manually.

[2018-07-10 22:41] #69 closed

[2018-07-10 22:41] #53 closed

[2018-07-10 22:44] kentcdodds commented on #69
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-11 22:07] duncanleung commented on #65
I see.

I don't have any counter arguments to @sompylasar

@sompylasar, could you provide some feedback regarding my method of typecasting to satisfy TypeScript?

Is that they way you would go about it?
[code]

[2018-07-15 08:14] rbrtsmith opened #72 "waitForElement not responding to text-only updates to the markup."
- `react-testing-library` version: 4.1.2
- `react` version: 16.1.0
- `node` version: 8.11.3
- `npm` (or `yarn`) version: 5.6.0

### Relevant code or config:

Test
[code]

React component segment
[code]

### What you did:

Testing a component error state

### What happened:
When test is executed the component remains in loading state, even when error flips to `true` and loading `false` (confirmed b

[2018-07-15 20:54] sompylasar commented on #72
You're right, the default [`mutationObserverOptions = {subtree: true, childList: true}`](https://github.com/kentcdodds/dom-testing-library/blob/3ba26000e6c0a95528fbe78ab0b75d422068341f/src/wait-for-element.js#L8), while the textual content monitoring seems to require a separate option, [`characterData: true`](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserverInit/characterData).

Fo

[2018-07-15 22:20] sompylasar commented on #72
@rbrtsmith Would you like to submit a PR to change these default `mutationObserverOptions` and add tests for them?

[2018-07-16 16:57] kelly-tock opened #73 "event.currentTarget not populated when fireevent.change happens for an input."
* `dom-testing-library` version: 2.9.1
* `react` version:
* `node` version:
* `npm` (or `yarn`) version:

### Relevant code or config:

[code]

### What you did:

writing a test for an input.

### What happened:

component was using `event.currentTarget.value`, but got an error in the test because currentTarget was not defined.

### Reproduction:

change the code above to use current target instea

[2018-07-17 18:00] #72 closed

[2018-07-17 18:06] kentcdodds commented on #72
:tada: This issue has been resolved in version 3.0.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-18 20:33] kentcdodds opened #75 "Update docs to remove toBeInTheDOM"
Regarding the deprecation of `toBeInTheDOM` we should either find better assertions or use `toBeInTheDocument`: https://github.com/gnapse/jest-dom/pull/40

Anyone wanna try that?

For dom-testing-library, most of the examples aren't actually attached to `document.body` so `toBeInTheDocument` wont work. We'll have to think of something better on a case-by-case basis I think.

[2018-07-19 12:46] rbrtsmith opened #76 "Allow for different data-testid formatting in `getByTestId`"
### Describe the feature you'd like:
I'd like to introduce the possibility of using React Testing Library at my place of work, however the standard format this is baked into all of our codebases is `data-test-id`.  This is used by teams of testers and it would be almost impossible to get them to change this.
As it stands we cannot use the `getByTestId` function in our projects.
This is how we'd cu

[2018-07-19 14:29] gnapse commented on #75
I'll take this one too, so we can merge and release this prior or alongside to the corresponding change in kentcdodds/react-testing-library#140.

[2018-07-19 14:55] gnapse commented on #75
Indeed `toBeInTheDocument` is of no use in dom-testing-library's tests as it is today. But this is just in the tests, as the render helper does not attach the generated container to the document.

1. Is there a reason for this, or can I modify the helper to attach to the document? This may require a cleanup step though.

2. Alternatively, I can replace all uses of `toBeInTheDOM()` with `toBeInstan

[2018-07-19 15:29] kentcdodds commented on #75
I prefer: `expect(container).toContainElement(query...)` as it's more explicit. I think I'd prefer examples to show that as well.

[2018-07-19 15:39] kentcdodds commented on #76
Hi @rbrtsmith!

This has come up in the past and I said no because I think it's more important to have fewer ways to do the same thing and I _really_ want to avoid adding a configuration capability. I'd prefer to lean on the composability of JavaScript functions.

I do understand that people have different utilities that they'd like to use in their apps and I think every app should have app-specif

[2018-07-19 18:39] gnapse commented on #75
I'm in doubt about [this use](https://github.com/kentcdodds/dom-testing-library/blob/7730d254339185fe11d351e7b9cd01b41cafea1b/src/__tests__/element-queries.js#L376) of `toBeInTheDOM`. It seems to want to assert that there's no `...` in the message of the error that's expected to be thrown, but that regex should be passed as argument to `toThrowError` instead of to `toBeInTheDOM`. And it's passing

[2018-07-19 18:42] kentcdodds commented on #75
Feel free to rewrite that test. I never really liked it much.

[2018-07-19 18:45] gnapse commented on #75
Now I have another question:

`query*` and `get*` functions in dom-testing-library receive the container, rather than having it associated implicitly as is the case with react-testing-library. This makes it a bit redundant to have to put the container twice when using `toContainElement`:

[code]

This happens quite a bit in the README examples. Nothing wrong about that per-se, just wanted to make

[2018-07-19 18:50] kentcdodds commented on #75
Ah, that's fair, and kinda annoying. Maybe we should do `toBeInstanceOf(HTMLElement)` 🤔

[2018-07-19 18:51] kentcdodds commented on #75
Honestly, for me the _real_ assertion is the `get*` methods which will throw a more helpful error message if it can't find the element anyway 🙃

[2018-07-19 18:53] gnapse commented on #75
Ok, I'll see what I can do.

[2018-07-24 08:32] will-stone opened #80 "Baking-in `closest()`"
Hi Kent! Thanks so much for this and RTL, it's made testing really quite easy 😀

### Describe the feature you'd like:

If I have this...

[code]

...I have found myself having to use `.closest()` when trying to find the button, where the `span` isn't guaranteed to exist, and this works really well.

[code]

However, I thought this would be what the `selector` option was supposed to provide but tha

[2018-07-24 13:49] timbonicus opened #81 "JSS style blocks overwhelm prettyDOM / debug output"
### Describe the feature you'd like:

The automatic debug output / prettyDOM is hard to pick through with JSS, since a rather large style block is added to the DOM with JSS classes. There should be a way to avoid JSS output (the [material-ui](https://material-ui.com/) library in our case dumps out 10,000 lines of CSS, which is thought-provoking in itself, but here we are).

### Suggested implement

[2018-07-24 14:15] kentcdodds commented on #81
Thinking about it more, what if we use document.body? That would avoid this issue without making it harder/confusing for portals.

[2018-07-24 17:46] timbonicus commented on #81
That would work well for my purposes; the JSS style blocks are in the document head. I know browsers are lenient with <style> in document.body, but I'm not sure that's worth worrying about.

[2018-07-24 18:08] kentcdodds commented on #81
Hmmm... I actually think this change will need to be in react-testing-library because the way it works right now is it'll log out everything in the `container` that's the basis for the queries and in react-testing-library that's set to the documentElement. I think the best solution would probably be to just change that to `document.body`. I don't think anyone puts portals anywhere other than the `

[2018-07-24 19:48] kentcdodds commented on #80
Hi @will-stone!

After looking into this a little bit I _think_ I want to change the behavior of [`getNodeText`](https://github.com/kentcdodds/dom-testing-library/blob/6a8312decdef7177907e81ce56e199c0a141cf05/src/get-node-text.js) when you specify a [`selector`](https://github.com/kentcdodds/dom-testing-library/blob/6a8312decdef7177907e81ce56e199c0a141cf05/src/queries.js#L72) other than `*` (the d

[2018-07-24 19:52] kentcdodds commented on #80
Maybe instead we should have a new query called `getClickableByText`?

[2018-07-24 21:40] kelly-tock commented on #73
@kentcdodds any thoughts on this?

[2018-07-24 23:55] kentcdodds commented on #73
Hi @kelly-tock!

So [`currentTarget`](https://developer.mozilla.org/en-US/docs/Web/API/Event/currentTarget) represents the target upon which the event handler was added. React adds event handlers to `document.body`. If it works for you to use `currentTarget` in your application code it's probably because react is doing something special with the events and somehow that's not applying in this case

[2018-07-25 01:34] kelly-tock commented on #73
Yes my main concern is that if you are using flow or typescript the event definition doesn’t let you use target to get the value off of. ‘React.SyntheticEvent<HtmlInputElement>’

If there’s a different way to define the event in either of those than that should work.

[2018-07-25 01:49] kelly-tock commented on #73
found a solution:
https://stackoverflow.com/questions/40676343/typescript-input-onchange-event-target-value
[code]

closing.

[2018-07-25 01:49] #73 closed

[2018-07-25 07:59] will-stone commented on #80
@kentcdodds yes, I see the conundrum here; we don't want the to search-up through the tree because we could end up with false positives if a parent is also clickable.

To give you some more context, the reason this came about for me was because I was trying to assert the `disabled` status on the button. Which is when I noticed that the UI library I use, wrapped the inner text of the button with a

[2018-07-25 07:59] timbonicus commented on #81
Thanks @kentcdodds! Submitted a [react-testing-lib PR|https://github.com/kentcdodds/react-testing-library/pull/145].

[2018-07-25 09:58] will-stone commented on #80
Ah! I realise what I'm doing wrong. I should have been following the spirit of the library and testing for what the user expects to happen not what attributes are on the button. I went from this:

[code]

to:

[code]

Also, I've noticed that wrapping the inner text of the button with a span, when the button is a submit button in a form doesn't work. e.g.

Works:
[code]
Works:
[code]
Works:
[code]

[2018-07-25 14:57] #81 closed

[2018-07-25 16:08] sompylasar commented on #80
This looks like a bug or a missing feature in the click-to-submit simulation. The case when it doesn't work is when the form submit is triggered automagically by the browser when a button type=submit click occurs.

[2018-07-25 16:11] sompylasar commented on #80
I found this which was closed as fixed 2 years ago: https://github.com/jsdom/jsdom/issues/1026

[2018-07-25 18:53] ckhicks commented on #65
I just had to implement that same fix - my compiler refused to pass the input element as having a value property unless I cast it as HTMLInputElement.

[2018-07-26 05:44] duncanleung commented on #65
Thanks for your time and the advice!

I'll use that approach in my test.

[2018-07-26 05:44] #65 closed

[2018-07-26 17:49] gnapse commented on #80
@will-stone is it by any chance material-ui the library you're referring to? Because I'm having this issue too right now, and it's with it. I'm interested to see how this will be solved, and I'm more than happy to help making it possible.

[2018-07-26 20:33] will-stone commented on #80
@gnapse With the span in a button? It was with BlueprintJS that I first noticed the problem but it'll affect any spans in buttons. As for the form submit issue, just put the onSubmit function on the button's onClick too:

[code]

This is probably just a workaround though, until the clever chaps here have found a way to fix the library to fire the form's onSubmit when clicking a span in a type="sub

[2018-08-01 15:22] wyze opened #83 "Add support for `<title>` element in SVG with `getByTitle`"
### Describe the feature you'd like:

There is a `<title>` element that can be rendered within an SVG element, see [MDN](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/title), and would be nice to be considered when doing a `getByTitle` assertion. Currently it does work with `getByText`, but that might be incorrect considering it behaves more like a title attribute than text content.

If

[2018-08-02 22:38] kentcdodds commented on #83
Yes, that sounds super! I'd definitely accept a PR for this added functionality :+1: Thank you!

[2018-08-03 23:31] kentcdodds commented on #75
Would you like to make that update? :)

[2018-08-09 14:10] #83 closed

[2018-08-09 14:15] kentcdodds commented on #83
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-08-10 17:44] kentcdodds commented on #75
I think I did this at some point. In any case, they're gone!

[2018-08-10 17:44] #75 closed

[2018-08-11 12:26] noinkling commented on #80
Just an update on the `.closest()` tangent: it's now supported in JSDOM as of v11.12.0

[2018-08-11 14:59] kentcdodds commented on #80
Fantastic news! Thank you @noinkling

[2018-08-14 01:05] weyert opened #88 "Allow testing whether an element doesn't exist"
I am trying to test a component where based on the selection of a `SELECT` it should shows a specific component. The component has a input field. In my unit test I want to check if the expected input field is shown and not the other one. As this is what the user would expect. Now I am using `getByTestId` to get item:

[code]

I am using the following code for that: `getByTestId('calculator-weight'

[2018-08-14 01:11] weyert commented on #88
Sorry, It's already there it's `queryByTestId`. Sweet. Closing ticket.

[2018-08-14 01:11] #88 closed

[2018-08-22 00:24] alexkrolick opened #90 ""Safe" click event helper that warns when clicking non-interactive elements"
### Describe the feature you'd like:

I was recently debugging an issue where I passed "container" to `fireEvent.click()` instead of a button reference. What if there was a variant of `fireEvent` that warns/errors when firing events on elements that aren't normally interactable? `button` and `a` would be safe, plus any semantic/`aria-` elements.

API ideas:

[code]

### Suggested implementation:

[2018-08-22 02:28] kentcdodds commented on #90
Hmmm... I'm really conflicted here. I really like the idea, but I don't want to add friction to using the library. Perhaps if we had a really helpful error message.

What if we did this:

[code]

Then people could do:

[code]

And that would work.

We'll want to make sure that we define a "clickable" element as one that's clickable/focusable as defined by the browser.

Thoughts?

[2018-08-22 03:26] sompylasar commented on #90
You may want to take some inspiration from Cypress, it implements this concept of Actionability. https://docs.cypress.io/guides/core-concepts/interacting-with-elements.html#Actionability

I really wish Cypress exported some of their DOM manipulation code as reusable libraries... We're really doing the same things here.

[2018-08-22 03:41] alexkrolick commented on #90
I'd be more inclined to export it as `fireEvent.accessibleClick` than breaking the current click, at least through one release cycle? `.forceClick` seems reasonable in the long run, except maybe conflicting with the concept of "force click" on Mac touchpads.

So... what are the criteria for clickability? We can collect them here and see what the code would need to do.

[2018-08-22 03:44] sompylasar commented on #90
@alexkrolick

[2018-08-22 03:57] alexkrolick commented on #90
Sounds like they mostly care about visual attributes, not the difference between a div and a button. We'd want to make that distinction somehow.

[2018-08-22 04:04] alexkrolick commented on #90
The cypress actionability module actually is open source: https://github.com/cypress-io/cypress/blob/develop/packages/driver/src/cy/actionability.coffee

[2018-08-22 04:11] alexkrolick commented on #90
Also, a lot of the time I rely on event bubbling to propagate a click from some inner span up to a button or other element; this would probably break that. Would it be possible to do something like detect that a click event was not handled by anything instead of allowing only certain elements? I don't know if React's event model would be compatible with that approach.

[code]

[2018-08-22 04:56] sompylasar commented on #90
Yes, but you cannot `yarn add @cypress/actionability` to reuse that piece in `dom-testing-library` or your tests.

[2018-08-22 04:59] sompylasar commented on #90
I don't think we want to make that distinction. You can make a perfectly valid accessible div with an onClick that shouldn't be any different from a button from the actionability perspective.

[2018-08-23 12:56] gnapse commented on #36
Doesn't this library has [typings](https://github.com/kentcdodds/dom-testing-library/tree/master/typings) already? I think this issue can be closed.

[2018-08-23 13:08] #36 closed

[2018-08-25 20:45] prasann opened #92 "fireEvent.click() performs click on disabled input field"
- `dom-testing-library` version:  3.4.0
- `react` version: _-NA-_
- `node` version: 9.11.1
- `npm` (or `yarn`) version: _-NA-_

### Relevant code or config:

`fireEvent.click()` on disabled elements.

### What you did:

I was expecting `fireEvent.click()` not to have dispatched `click` event on `disabled` elements.

### What happened:

`fireEvent` is ignoring the `disabled` attribute on the elemen

[2018-08-25 20:49] kentcdodds commented on #92
Interesting. I wonder what the browser does and if this may be a bug in jsdom 🤔

[2018-08-25 21:04] prasann commented on #92
a quick scan in [`jsdom`](https://github.com/jsdom/jsdom) code, shows that they are handling this scenario [here](https://github.com/jsdom/jsdom/blob/49bf806f30aae3eff20567d032a74124e12f1284/lib/jsdom/living/nodes/HTMLInputElement-impl.js#L76).

Now I'm puzzled why `fireEvent` went through on a `disabled` input in my case.

[2018-08-25 21:47] prasann commented on #92
[Here is the code](https://codesandbox.io/s/ymrlk2j29x) that I was trying. After spending some time now, I'm unclear about where the problem is.

[2018-08-25 21:51] kentcdodds commented on #92
Huh, weird. In addition, in codesandbox it's running in the browser rather than using jsdom... Hmm...

[2018-09-04 20:31] JeffBaumgardt opened #93 "Add new getByRole queryselector."
### Describe the feature you'd like:

A new querySelector to select elements based on role. I have a dialog that while I can query inside the dialog just fine I cannot first a click to close the dialog because all the current queries target elements inside the dialog so the out of bounds click handlers do not fire.

### Suggested implementation:

const queryAllByRole = queryAllByAttribute.bind(nul

[2018-09-04 20:34] gnapse commented on #93
Funny, I was thinking something similar now after the recent discussion in gnapse/jest-dom#55. It would be a nice addition.

[2018-09-04 20:37] kentcdodds commented on #93
Thanks for the thorough feature request @JeffBaumgardt! I'm in favor of this. Would you like to implement it?

[2018-09-04 20:42] JeffBaumgardt commented on #93
Can do I'll have a PR later today.

[2018-09-04 22:17] JeffBaumgardt commented on #93
Closed via #94

[2018-09-04 22:17] #93 closed

[2018-09-13 03:18] kvrmd commented on #76
[code]
Returns this error:
[code]

It works when I name the custom render something else, though:
[code]

[2018-09-13 03:57] alexkrolick commented on #76
@kvrmd does this fix it? https://github.com/kentcdodds/react-testing-library/pull/170/files

[2018-09-13 04:29] kvrmd commented on #76
@alexkrolick Thanks. Unfortunately, that doesn't fix it. I think the issue stems from overriding `render` from the export line: `export * from 'react-testing-library'`.

[2018-09-13 04:44] kvrmd commented on #76
BTW avoiding es6 modules also works:
[code]

[2018-09-14 08:53] grigasp opened #99 "waitForElement gets into infinite setTimeout loop"
- `dom-testing-library` version: 3.5.1
- `node` version: 8.11.2
- `npm` (or `yarn`) version: 5.6.0

### Relevant code or config:

[code]

### What you did:

I'm trying to use `waitForElement` to wait until an element is created in the dom.

### What happened:

I found that my test is passing, but the test runner (mocha) doesn't exit - it gets into infinite setTimeout loop.

### Reproduction:

Repo

[2018-09-14 13:42] kentcdodds commented on #99
I'm not certain I follow you, but if I could see the code changes you're asking for I probably would. Could you make a pull request?

[2018-09-16 12:49] sheerun opened #100 "Doesn't work with custom jsdom"
- `dom-testing-library` version: 3.5.1
- `react` version: 16.4.1
- `node` version: 10.4.1
- `npm` (or `yarn`) version: yarn 1.7.0

### Relevant code or config:

Usual installation,

[code]
as jest configuration, then something like following in tests:

[code]

### What you did:

Tried to use dom-testing-library with node environment in Jest + creating own jsdom instance in a helper and passing it

[2018-09-16 13:10] sheerun commented on #100
Also maybe quick not why I'm doing this. From the jsdom documentation:

[2018-09-17 17:43] #99 closed

[2018-09-17 17:48] kentcdodds commented on #99
:tada: This issue has been resolved in version 3.5.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.5.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-17 21:39] kentcdodds commented on #76
I don't think we have anything actionable here. If someone comes up with something then feel free to open a new issue/PR to fix the docs with workarounds/etc.

Thanks.

[2018-09-17 21:39] #76 closed

[2018-09-17 21:41] kentcdodds commented on #92
If anyone can come up with what's going on here and a solution to the problem then please write here and we can re-open, but I'm going to go ahead and close this for now.

[2018-09-17 21:42] kentcdodds commented on #80
This is no longer actionable, so I'm going to close this one.

[2018-09-17 21:42] #80 closed

[2018-09-17 21:42] kentcdodds commented on #90
Yeah, I don't think there's anything we're going to do about this one. Closing.

[2018-09-17 21:42] #90 closed

[2018-09-18 04:15] matchai opened #104 "Add a way to access <select> elements given their text value"
### Describe the feature you'd like:
**Accessing `<select>` elements by the selected option's text**
In my experience using dom-testing-library, I've had no issues accessing and interacting with DOM elements in the ways that a user would, except for `<select>` elements. Unless a label is associated with `<select>` elements, they are a headache to access, and even harder to do so in a way the softw

[2018-09-18 17:11] kentcdodds commented on #104
As you suggest, it'd be better to use `getByLabelText` to get a select element, but in the event that there is no label text (though there definitely should be) it'd be better to use a `getSelectByText` than a `getByTestId`.

So I'm in favor of adding your `getSelectByText` utility, though rather than always referencing the first option, it should reference the currently selected option I think be

[2018-09-18 17:12] kentcdodds commented on #100
What if you do this:

[code]

[2018-09-18 17:13] kentcdodds commented on #100
I'm happy to accept a PR for this if it doesn't make a huge impact on the codebase or any impact on the API, but I don't think anyone is going to work on it. Feel free to open a PR though. I'll close this though as there's a workaround.

[2018-09-18 17:13] #100 closed

[2018-09-18 18:19] sheerun commented on #100
@kentcdodds I think it's bad manners to close issue before allowing to respond

You solution still doesn't work if you put `"testEnvironment": "node"` in Jest configuration. Here's example to reproduce:

[code]

I still get:

    ReferenceError: window is not defined

      at Object.<anonymous> (node_modules/mutationobserver-shim/dist/mutationobserver.min.js:3:1)
      at Object.<anonymous> (node

[2018-09-18 18:38] matchai commented on #104
I wouldn't mind taking on this task. 😄

The implementation above does what you described. HTMLSelectElement.selectedOptions returns an array of options that are currently selected, which there can be multiple of if the `<select>` element has the `multiple` attribute.

[2018-09-18 18:38] alexkrolick commented on #104
How would that work with queryAll? Array of arrays?

[2018-09-18 18:50] kentcdodds commented on #100
Sorry, but this library requires that you have the DOM globally accessible in the environment in which you are testing. I think this would work:

[code]

I realize that jsdom recommends against this but I disagree with it and either way Jest's default implementation is to use jsdom to simulate the browser environment and it seems to work great for everyone using this library.

In any case, this li

[2018-09-18 18:52] kentcdodds commented on #104
I think the return value of `queryBySelectText` would be an `HTMLSelectElement` or `null` and `queryAllBySelectText` would be an array of `HTMLSelectElement`s.

Also, note that I changed from `getSelectByText` to `getBySelectText` intentionally to be consistent with other APIs (also `getAllSelectByText` sounds funny).

[2018-09-18 19:11] sheerun commented on #100
bummer

[2018-09-18 19:17] kentcdodds commented on #100
As I said:

Otherwise, it's outside of the scope of the library.

[2018-09-19 00:04] alexkrolick commented on #100
I think the only thing that breaks at import time is https://github.com/kentcdodds/dom-testing-library/blob/master/src/wait-for-element.js, and at runtime the window dependency may error in the `wait` util.

You should be able to get around this if you are just using the queries by doing:

[code]

https://unpkg.com/dom-testing-library@3.5.2/dist/queries.js

[2018-09-19 02:00] nikhilkuyya commented on #104
are that queryBySelectText and queryAllBySelectText looks for first options.
Examples :
           we should get Select by only State text or by any value of options in that select.

[2018-09-19 02:41] matchai commented on #104
The way I'm implementing it is that it will allow you to use the currently selected option's text value, and only that. From the user's perspective, that is what they would see and click on if the `<select>` field has no label.

[2018-09-19 03:48] #104 closed

[2018-09-20 02:27] gnapse opened #107 "Expressing user actions at a higher level"
### Describe the feature you'd like:

Following the discussion in gnapse/jest-dom#53 and gnapse/jest-dom#59, it is becoming apparent the need to express user actions on a web page using a higher-level abstraction than `fireEvent`.

This issue is to bring the discussion to this repo, where the potential solution actually lies.

## Suggested implementation

See [this comment](https://github.com/gnap

[2018-09-20 03:03] matchai commented on #107
Skimming over the Cypress API, these seem to be some of the most useful APIs provided and an idea of how they would act:

**[check](https://docs.cypress.io/api/commands/check.html)**
Focus, toggle-on
**[clear](https://docs.cypress.io/api/commands/clear.html)**
Focus, select all, backspace
**[click](https://docs.cypress.io/api/commands/click.html)**
Click, focus
**[dblclick](https://docs.cypress.io

[2018-09-20 03:57] sompylasar commented on #107
Also have a look at https://github.com/getgauge/taiko whose goal is to provide such a high-level API on top of a browser and a REPL to test it and record scripts.

I wish the very similar efforts dom-testing-library and cousins, Cypress, and now Taiko all put into making human-emulating APIs for webapp testing and automation could be united, but unfortunately Cypress is a not-so-modular-and-import

[2018-09-20 04:00] kentcdodds commented on #107
Yeah, I think that someone should develop a package separate from dom-testing-library that's intended to do this. Then dom-testing-library can just re-export that library (like we do with `wait-for-element`).

Anyone want to do that? It'd probably be a lot of fun and I bet would get a lot of use. I just don't have time for it at the moment.

[2018-09-20 04:06] sompylasar commented on #107
The very part that I wish could be reuse from Cypress is all the funky and often-simply-impossible-without-devtools-protocol but still useful emulation of the browser default behavior via just the DOM APIs (what dom-testing-library does as an infant compared to Cypress).

The part I wish could be reused from Taiko (although I read the code and it's not very robust yet) is the visually relative sel

[2018-09-20 05:44] lgandecki commented on #107
@sompylasar  Taiko looks amazing, but if I understand correctly since jsdom doesn't support "getBoundingClientRects", or "the ability to calculate where elements will be visually laid out as a result of CSS", we won't be able to do things like near/above/below. :-( Is there something that I'm missing?
It would be fantastic to have it in terms of testing the app like the user would. My team could p

[2018-09-20 07:01] alexkrolick commented on #107
Are you sure you don't want to pursue the monorepo idea in #98? The cross-dependency between these packages is a bit hairy and some of the wrappers are undoubtedly already falling behind, depending on implementation.

[2018-09-20 08:53] Gpx commented on #107
Just for me to understand, would this "user" library work somehow like this?

[code]

[2018-09-20 14:37] kentcdodds commented on #107
@alexkrolick, I'm going to be building a monorepo project at work (because I can't use semantic-release there) so we'll see how I enjoy it. My biggest hesitance for using monorepos is the semantic-release solution for monorepos seems slightly unmaintained and I'm worried about things that could come up. Dropping semantic-release from my workflow is kinda out of the question. I wouldn't have time t

[2018-09-20 14:43] kentcdodds commented on #104
:tada: This issue has been resolved in version 3.6.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 14:58] Gpx commented on #107
Can I give it a shot?

[2018-09-20 15:19] kentcdodds commented on #107
Go for it!

[2018-09-20 16:28] sompylasar commented on #107
@Gpx Not to discourage you from doing what you're going to do, but there's a lot of corner cases, so please reuse the experience Cypress has collected over time in how this should work. Also puppeteer has an extensive user-simulating API to look at.

From my perspective the most accurate representation of user interactions with the UI is described in terms of the tools available to the user: 1) an

[2018-09-21 16:10] Gpx commented on #107
@sompylasar yep you're right there are going to be many edge cases. As you suggested I intend to start by reviewing what other projects do and what browsers do.

Next, I'll take the new user events I create and put them in my test suite to see how it goes.

We'll probably need to sacrifice some events (I'm thinking of `mousemove` for example) but I'll try to be as accurate as possible.

I'll keep

[2018-09-28 16:08] peterbe opened #108 "getByCSSSelector or something like that"
### Describe the feature you'd like:

Ability to find elements from a rendered DOM by some sort of CSS selector, a la jQuery.

For example, I have this DOM:
[code]

It's a `<Button/>` component from [Ant Design](https://ant.design/components/button/) but not important.

Now of the existing methods allow me to get this DOM element. I *could* modify the main code and inject a `data-testid="add-butto

[2018-09-28 16:14] peterbe commented on #108
An existing solution would be to render to a container I guess.
[code]

[2018-09-28 17:06] kentcdodds commented on #108
Hi @peterbe!

Correct, that's the solution if you're going to use CSS selectors.

Also, I strongly recommend against using CSS selectors in your tests. Use the other queries. If you can't, use data-testids: https://www.youtube.com/watch?v=N4ZDBOc2tX8&list=PLH3mK1NZn9QqOSj3ObrP3xL8tEJQ12-vL

In any case, we're definitely not going to make it any easier to write tests this way.

[2018-09-28 17:06] #108 closed

[2018-09-28 17:17] peterbe commented on #108
"We're going to be talking about writing Science Fiction novels".
I think you pasted the wrong youtube link.

I'm guessing you meant a video that explains why you *should* put in `data-testid` attributes on DOM nodes just for the sole benefit of being able to write tests. Looking forward to taking that in.

By the way, I spent an hour last night watching your videos on react-testing-library. Excel

[2018-09-28 17:36] kentcdodds commented on #108
Whoops! Mixed up my clipboard. lol

Here's the blog post I wanted to reference: https://blog.kentcdodds.com/making-your-ui-tests-resilient-to-change-d37a6ee37269

Good luck!

[2018-09-30 17:42] Gpx commented on #107
Hi everyone, a little update. I've started working on a library called [`user-event`](https://github.com/Gpx/user-event). At the moment it supports only `click`, `dblClick` and `type` but I've been testing it in my day to day job, and it seems quite useful.

I would much appreciate any feedback and especially bug reports. I believe many edge cases are not covered yet and at the moment I'm focusing

[2018-09-30 20:43] kentcdodds commented on #107
Fantastic! That's a great start 👍 once we get more user actions in there, then we can pull that in and re-export it 💯

Circular dependencies are fun 😅 I'm pretty sure it works though.

[2018-10-05 18:05] gnapse opened #111 "Make waitForElement always resolve to a truthy value."
### What?

I'd like `waitForElement` to always require a `callback`, and always resolve to a truthy value (an element).

### Why?

As of today, this is the type definition for `waitForElement`:

[code]

I question why the promise resolves to `T | undefined`.

The reason for the above type definition probably is that `callback` is optional. and when a callback function is not passed, the promise in

[2018-10-05 18:11] kentcdodds commented on #111
I'm fine with that 👍

[2018-10-05 18:11] gnapse commented on #111
Thanks! I'll submit a PR.

[2018-10-05 18:33] gnapse commented on #111
Actually, is not that simple, but still improvable. Here's a note in the README about why the empty function is allowed:

be helpful if you only need to wait for the next DOM change (see [`mutationObserverOptions`](#mutationobserveroptions) to learn which changes are detected).

What I'll do is that when no callback is provided, instead of defaulting to `callback = undefined`, I'll make it so `T =

[2018-10-05 19:00] gnapse commented on #111
Turns out the above revelation makes it simpler, in the sense that now the implementation need not be touched at all. Only the type definitions need to be updated.

However, my TypeScript knowledge may not be enough for this after the above revelation. I'm not sure how to express that T is undefined but only when the callback is not provided. Furthermore, it may be useful to express that T must ot

[2018-10-05 20:40] gnapse commented on #111
Yes, I know. I'm just not sure if the above reflects how the function really works.

[2018-10-08 16:44] jenovs opened #112 "Problem with typings"
- `dom-testing-library` version: 3.8.1

### Problem description:

Typings for query by role are named with a `T` inside (`queryByTRole`, `queryAllByTRole`, `getByTRole`, `getAllByTRole`) which makes TS compiler fail.

### Suggested solution:

Rename exports in `typings/queries.d.ts`.

[2018-10-08 17:04] kentcdodds commented on #112
Hi @jenovs, thanks!

Could you make a PR to fix that please?

[2018-10-08 17:27] jenovs commented on #112
Hi @kentcdodds,
I'm trying to push my PR, but I'm getting this error:
[code]
What am I doing wrong?

[2018-10-08 17:44] jenovs commented on #112
I ended up editing the file on GitHub.

[2018-10-08 18:18] kentcdodds commented on #112
That's fine.

In the future, maybe this'll be helpful to you :) http://makeapullrequest.com

[2018-10-08 18:18] #112 closed

[2018-10-08 18:22] kentcdodds commented on #112
:tada: This issue has been resolved in version 3.8.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.8.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-09 06:58] themostcolm commented on #111
@gnapse  I agree with your last point about it being strange that waitForElement does not actually have to wait for an element. I love dom-testing-library and how declarative it is. This example seems a little bit less declarative than is normal. Perhaps there could be a separate waitForDomChange function or waitForElement could wait for a specific dom-change element (not sure what that would look

[2018-10-09 07:10] sompylasar commented on #111
@themostcolm

I like the idea of adding a separate function `waitForDomChange`, and removing the undefined-callback signature of `waitForElement`. What do you say @kentcdodds ?

[2018-10-09 13:59] theneva opened #115 "<select> doesn't reflect new "select text" in response to change event"
- `dom-testing-library` version: 3.8.2
- `react` version: N/A
- `node` version: v10.11.0 (but it doesn't matter)
- `npm` (or `yarn`) version: `yarn 1.10.1` (but it doesn't matter)

### Relevant code or config:

See the reproduction section below.

### What you did:

1. Created a `<div>` containing a `<select>` with two `<option>`s.
2. Fetched the `<select>` using `getBySelectText`
3. Fired a `chan

[2018-10-09 17:44] kentcdodds commented on #111
I'm in favor 👍

[2018-10-09 17:55] kentcdodds commented on #115
Hmmm... I'm not sure what's going on here. Would anyone care to dig deeper into this?

I created this and I'm unable to reproduce: https://jsbin.com/lukecehisa/edit?html,js,console

[2018-10-09 18:18] theneva commented on #115
Thanks for checking it out

 I'm pretty sure the jsbin snippet works because it executes in the browser, and as I mentioned in the OP, this behaviour for the select is different from the browser.

Would be great if someone could take a look! :smile:

[2018-10-09 18:21] alexkrolick commented on #115
I can reproduce the same error in a Jest/JSDOM environment

[2018-10-09 18:28] kentcdodds commented on #115
Hmmm... Maybe it's a bug in JSDOM :-(

[2018-10-09 18:48] alexkrolick commented on #115
Probably this: https://github.com/jsdom/jsdom/issues/2326, fixed Aug 18

https://github.com/kentcdodds/dom-testing-library/blob/master/src/queries.js#L117

[2018-10-09 18:50] kentcdodds commented on #115
Ah, in that case I'm pretty sure we'll need an updated version of jsdom which I'm guessing is already in the latest version of Jest 🤔

[2018-10-09 18:53] alexkrolick commented on #115
JSDOM peer is not updated in the Jest repo: https://github.com/facebook/jest/blob/master/packages/jest-environment-jsdom/package.json#L13

[2018-10-09 18:54] kentcdodds commented on #115
@theneva perhaps you could open a PR on Jest to upgrade JSDOM?

[2018-10-09 18:55] kentcdodds commented on #115
In any case, there's not much we can do in this project, so I'm going to go ahead and close this issue. Sorry! 😬

[2018-10-09 19:03] alexkrolick commented on #115
Try adding this to package.json

[code]

Didn't seem to work for me but maybe you can figure something out.

[2018-10-09 19:11] SimenB commented on #115
We won't upgrade jsdom in jest (for some time) as they've dropped node 8

[2018-10-09 19:40] kentcdodds commented on #115
Ok, thanks!

[2018-10-09 20:12] themostcolm commented on #111
I am almost finished with waitForDomChange. I am working on the documentation now. Would you rather it be called waitForDomUpdate?

[2018-10-09 20:30] kentcdodds commented on #111
I vote for `waitForDomChange` 👍

[2018-10-09 21:04] kentcdodds commented on #100
:tada: This issue has been resolved in version 3.8.3 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.8.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-09 21:18] themostcolm commented on #111
Something interesting I found.

If you copy the test in waitForElement: 'does not get into infinite setTimeout loop after MutationObserver notification' and move it above the previous test block (or to simply not be the last one) it breaks all following tests saying, "Timeout - Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout."

I thought I broke something on m

[2018-10-09 22:09] davidlukerice opened #116 "InputEvent is not supported Error on previously passing tests"
- `react-testing-library` version: 5.2.0
- `dom-testing-library` version: 3.8.3
- `react` version:16.5.2
- `node` version: v8.12.0
- `npm` version: 6.4.1

### Relevant code or config:

Running via create-react-app v2 through react-testing-library.

### What you did:

Ran tests in CI. Once I saw they were broken, cleared my local node_modules and started having the same issues

### What happened:

[2018-10-09 22:36] kentcdodds commented on #116
This is definitely a bug. Sorry about that. Let me know what you come up with. I'll look into it as well until I have to wrap up my day.

[2018-10-09 22:42] davidlukerice commented on #116
Is it from the `jest-dom` bump to 2.0? I have 1.12.1 locally, which pulls in `jsdom` 11.12.0. InputEvent doesn't com in until jsdom 12 (https://github.com/jsdom/jsdom/blob/master/Changelog.md#1200)

[2018-10-09 22:46] kentcdodds commented on #116
It came from this: https://github.com/kentcdodds/dom-testing-library/pull/114

[2018-10-09 22:50] JeffBaumgardt commented on #116
I'm so glad it isn't just me. I've already spent 2 hours on this thinking my ci server somehow wasn't getting the correct jsdom or something.

[2018-10-09 22:56] davidlukerice commented on #116
ah, before it was defaulting the `InputEvent` to `Event` in https://github.com/kentcdodds/dom-testing-library/pull/114/files#diff-4607e46b15da8ae44c4b47730c6d5963L319, but now since it's the string `"InputEvent"`, it passes the destructuring and doesn't fall back to `Event` correctly.

[2018-10-09 22:59] kentcdodds commented on #116
I worked through it in a debugger and I don't think that's the issue. The issue is probably related to: `node.ownerDocument.defaultView !== global.window`

I'm not sure why, but I think that's what's going on.

[2018-10-09 23:09] davidlukerice commented on #116
What version of jsdom are you testing with?

I forced the install of dom-testing-library back to 3.8.2 and am stepping through it.
`window.InputEvent` is `undefined` with the version of jsdom I'm running, so `EventType` defaults to `Event` in https://github.com/kentcdodds/dom-testing-library/pull/114/files#diff-4607e46b15da8ae44c4b47730c6d5963L319.

When jumping back to 3.8.3 where it's passing st

[2018-10-10 00:08] davidlukerice commented on #116
I didn't think `InputEvent` was [implemented](https://github.com/jsdom/jsdom/commit/1826e11a532b48b2c4166285f2019ca92a92528a) until v12?

[2018-10-10 09:09] sheerun commented on #116
JSDOM doesn't support some events at all, that's why I needed to shim them in tests to pass: https://github.com/kentcdodds/dom-testing-library/blob/1b12385032841c14633c5061f3ab38f938df4c03/src/__tests__/helpers/document.js

I think it's by pure chance some package included shims for these events on window. For example there's no mention of ClipboardEvent in JSDOM source yet you had passing tests f

[2018-10-10 09:15] sheerun commented on #116
My personal guess it that previously CliboardEvent, InputEvent etc. were referenced directly in source while now they are referenced indirectly, and because of that packager you use for bundling dom-testing-library now doesn't bother to include shims for these events.

I guess if you want to preserve 100% backward compatibility then you need to manually add these shims to global or jsdom window if

[2018-10-10 10:07] theneva commented on #115
With help from @SimenB I put together a version of jest-environment-jsdom that ships JSDOM version 12: https://github.com/theneva/jest-environment-jsdom-twelve

Using that solves my issue :smile:

Thanks for looking into this!

[2018-10-10 17:52] alexkrolick opened #120 "Support querying by aria-labelledby for tags that aren't <label>"
### Describe the feature you'd like:

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-labelledby_attribute

The `aria-labelledby` attribute doesn't require the labeling element to be a `<label>` tag, but dom-testing-lib only searches for `label`s in `queryByLabelText`.

I'd like to add a way to query for anything by ARIA label, which would allow doing

[2018-10-10 18:04] kentcdodds commented on #120
Hey Alex 👋

Interesting. So would making it so you can pass a custom selector to [this call](https://github.com/kentcdodds/dom-testing-library/blob/7b57f7313c3e751ad10e7ac8198ccc9b381cf82f/src/queries.js#L21) be sufficient?

[2018-10-10 18:28] alexkrolick commented on #120
I don't think so, I think it should be easier to do to encourage the use of `aria-labelledby` instead of testid.

[2018-10-10 18:35] alexkrolick commented on #120
Plus for performance I think it makes sense to work backwards from nodes with the `aria-labelledby` attribute instead of traversing all nodes first

[2018-10-10 19:01] alexkrolick commented on #120
Would it be a breaking change to change `getByLabelText` to this:

- Remove this part: https://github.com/kentcdodds/dom-testing-library/blob/7b57f7313c3e751ad10e7ac8198ccc9b381cf82f/src/queries.js#L47-L52

- Add something that does the same thing using `queryAllByText` as the initial filter?

[code]

- Combine the results

[code]

[2018-10-10 19:42] kentcdodds commented on #120
That seems reasonable 👍

[2018-10-10 23:48] #120 closed

[2018-10-10 23:52] kentcdodds commented on #120
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-11 10:40] ruffle1986 opened #122 "Readme: the example of getByText is not accurate"
Before getting started, let me say thank you for all the hard work to make devs` life easier with testing! Well done! 🍻

### Problem description:

The example of `getByText` is incorrect and misleading in the readme.

It says running the following script would produce the result commented out above the script.

[code]

Since `options.exact` is true by default, it won't find the anchor element unle

[2018-10-11 12:48] gnapse commented on #122
I'd say option C.

[2018-10-11 16:35] sompylasar commented on #122
A or D:
[code]
More precise is better IMHO to catch if the text changes unintentionally.

[2018-10-11 16:50] kentcdodds commented on #122
Let's go with C. That's what I do in my own stuff because the user doesn't care about the case of the text 👍

Thanks!

[2018-10-11 19:35] gnapse commented on #111
Fixed in #118

[2018-10-11 19:35] #111 closed

[2018-10-11 20:32] sompylasar commented on #122
The user doesn't, but the UI designers might...

[2018-10-11 20:45] kentcdodds commented on #122
Fair point. It's trade-offs. I'd still suggest generally ignoring case.

[2018-10-11 20:49] gnapse commented on #122
+1 to ignore case, plus this for our README we're talking about here, people can still use the exact string if they like and it's documented.

(BTW, capitalization can be achieved via css, and there's nothing we can do about that from a testing POV)

[2018-10-12 06:37] Gpx commented on #122
How about adding A and C and explaining the differences?

[2018-10-12 08:08] ruffle1986 commented on #122
I agree with @Gpx. It may be worth to mention both A and C. I'll open a PR including this and if you still don't feel it, I'll update it accordingly.

[2018-10-12 08:09] ruffle1986 commented on #122
@gnapse Very good point. We should point it out too.

[2018-10-12 13:29] kentcdodds commented on #122
The explanation should probably be in a FAQ.

[2018-10-12 14:38] #122 closed

[2018-10-12 14:44] kentcdodds commented on #122
:tada: This issue has been resolved in version 3.10.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-12 16:43] matchai commented on #115
Though `HTMLSelectElement.selectedOptions` is not reactive in the version of JSDOM bundled with Jest, `HTMLSelectElement.selectedIndex` is.

I wouldn't mind opening a PR to change it to `selectedIndex`, but that would drop compatibility with the `multiple` attribute.

@kentcdodds What would you prefer?

[2018-10-12 16:53] kentcdodds commented on #115
~~Hmmmm.... What if we get the best of all worlds. If the select has `multiple` then let's use `selectedOptions` (hopefully they don't need it to be reactive), if it's not `multiple` then we can use `selectedIndex`.~~

~~Is there any way we could iterate through the...~~

Yeah, we can do this:

[code]

[2018-10-12 18:11] #115 closed

[2018-10-12 18:15] kentcdodds commented on #115
:tada: This issue has been resolved in version 3.10.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-13 16:00] weyert opened #127 "Enhance experience while writing tests with waitForElement"
### Describe the feature you'd like:
Currently I am working on improve the test coverage of my project and I am trying to use `waitForElement` to detect if some specific element appears in the DOM. Because you can't visually see the changes which happen after triggering a input change or click. I think it would be nice to be somehow have a debug log in the `waitForElement` and its companions so yo

[2018-10-13 16:07] weyert commented on #127
I think logging would also have helped with catching this issue mentioned in an earlier ticket: https://github.com/kentcdodds/dom-testing-library/issues/72

[2018-10-13 16:12] kentcdodds commented on #127
So something like:

[code]

And any time there's a mutation, we'll basically call `prettyDOM` on the `container` and console.log? Hmmm... I think it may be better to do:

What if you do:

[code]

or if you're using react-testing-library:

[code]

I think we should document that example rather than add a fancy option. What do you think?

[2018-10-13 17:05] alexwendte commented on #127
I think a clear explanation in the docs of what is happening in the code @kentcdodds posted will not only help people in this specific situation, but will also give a better understanding of what waitForElement is doing. It is literally just a function that calls the return of the callback when the dom changes, and that code clearly shows that.

[2018-10-13 18:38] weyert commented on #127
Oh cool, I totally wasn't aware it worked like that. What if we only wanted the changes printed out?

[2018-10-14 15:28] kentcdodds commented on #127
I suppose we could pass the arguments our `onMutation` handler receives to your callbacks [here](https://github.com/kentcdodds/dom-testing-library/blob/master/src/wait-for-element.js#L35) and you could log that, but I don't know if a good way to show only the changes in a way that is at all helpful... Lots of changes can happen. I feel like trying to print out only what changed would be pretty com

[2018-10-14 15:51] weyert commented on #127
I will have a stab at it, probably not today, though

[2018-10-15 12:35] BenjaminEckardt opened #128 "Make data-testid attribute configurable."
First of all, thanks a lot for this library. I really like the approach of using the information the user actually perceives to select elements that are about to be tested.

The only feature that seems to differ from that approach is the `data-testid`. Although I also like this feature, I have a request for improvement.

### Describe the feature you'd like:
Currently the `data-testid` attribute is

[2018-10-15 13:08] gnapse commented on #128
This seems to be a duplicate of #76, where you can see some suggestions about how to deal with this without requiring chanting the library.

[2018-10-15 13:48] BenjaminEckardt commented on #128
Seems like i missed that one. Sorry for the duplicate. Thanks for the reply.

[2018-10-15 13:48] #128 closed

[2018-10-15 19:58] alexkrolick commented on #127
What about using [debug](https://www.npmjs.com/package/debug) to scope verbose logging?  It would also be useful to do full-DOM printouts in prettyDOM when there is an error instead of truncated.

[code]

[2018-10-15 20:01] kentcdodds commented on #127
I think it's ok. But I feel like that kind of feature is always so obscure that nobody ever uses it...

[2018-10-15 20:02] alexkrolick commented on #127
Well, maybe. But every major CLI app implements it. It's also nice because you don't have to change test code to add/remove verbose debug output.

[2018-10-15 20:08] kentcdodds commented on #127
True, but you do have to stop the test script and start it up again to make any changes. Trade-offs.

[2018-10-15 21:17] weyert commented on #127
I have been trying to make use of it but not much mutation is happening with my component. I am attempting to rewrite with `react-testing-library` from the get go.

[2018-10-17 10:57] sheerun commented on #116
this issue can be closed, it's fixed in latests release

[2018-10-18 15:54] weyert commented on #107
I have had a look at the library and even when using that I am struggling to make onChange event handlers be called or the keydown events. I am not sure if something is broken or not. I have been able to make a reproducible sandbox which can be found at the link below. I am a bit worried that my testing approach is wrong.

 https://codesandbox.io/s/ol4qnvy669

[2018-10-18 16:01] kentcdodds opened #131 "Fix flaky test"
In [this build](https://travis-ci.org/kentcdodds/dom-testing-library/builds/442383661)

[code]

I think that test should probably be made more reliable somehow... We can't release until the build is green though. Anyone wanna help here?

[2018-10-18 16:04] kentcdodds commented on #107
Hey @weyert, your test is firing change events at a button, not the input field. I believe that's the problem.

[2018-10-18 16:12] alexkrolick commented on #131
Maybe using jest timer mocks?

[2018-10-18 17:58] kentcdodds commented on #131
Yeah, that'd probably be best here.

[2018-10-21 14:30] Gpx commented on #131
Is this issue still valid? I tried to run the tests several times in my machine and they never failed

[2018-10-21 14:59] kentcdodds commented on #131
That's the trouble with time-dependant tests. You often wind up with issues on slower machines that you can't reproduce on faster ones.

[2018-10-21 18:57] gnapse opened #133 "Thanks!"
Thanks for dom-testing-library, the real hero behind react-testing-library (because React is just an implementation detail 😉)

Also thanks for the opportunity to collaborate, and thanks for jest-dom. Thanks for everything you do to encourage testing. It makes web development better, which makes the world a better place.

[2018-10-21 18:59] kentcdodds commented on #133
Wow! I should be thanking you for all the work you've done on all the projects you've mentioned. THANK YOU!

[2018-10-21 18:59] #133 closed

[2018-10-23 12:33] ssylvia opened #135 "Types for queryByTestId not correct"
- `dom-testing-library` version: 3.11.2

### Relevant code or config:

![screen shot 2018-10-23 at 8 27 28 am](https://user-images.githubusercontent.com/1211360/47360474-9b638400-d69d-11e8-8a4d-4d3665fed9c3.png)

### What you did:

Used `queryByTestId` in typescript

### What happened:

VSCode gives error that more arguments are expected

### Problem description:

Looks like `queryByTestId` uses t

[2018-10-23 12:38] ssylvia commented on #135
Looks like this might be a regression from 3.11.1 PR #130.

[2018-10-23 12:57] weyert commented on #127
I have been able to make it work with the new helper method `waitForDomChange` never got it working with waitForElement I tried it like this for that method: `await waitForElement(() => expect(getByText('Error message')).not.toBeNull())`

[code]

[2018-10-23 13:12] alexwendte commented on #135
I do not understand typescript very well, but it looks like the arguments for the `queryBy` and `getBy` functions are being inferred. https://github.com/kentcdodds/dom-testing-library/blob/f29f551b1d9b031b0d8cf2d2dc436eae229ecc1d/typings/get-queries-for-element.d.ts#L4-L10The `queryByAltText` type is broken as well.

[2018-10-23 14:56] kentcdodds commented on #127
I personally prefer more explicitness in my tests when possible, so I would write this test like so:

[code]

If that fails, then the error message should print out the state of the DOM so you can see if your query is wrong.

[2018-10-23 15:32] weyert commented on #127
Thank you, Kent. Appreciated :)

[2018-10-24 03:52] davidgilbertson opened #136 "Configurable data-testid"
### Describe the feature you'd like:

The ability to define what attribute will be used to denote a test id.

For example, an organisation may have a code base where `data-test-id` is currently used, but `dom-testing-library` will look for an attribute of `data-testid`. If they want to begin using `dom-testing-library`, they would need to universally change all test IDs, which prevents an incremen

[2018-10-24 05:12] alexkrolick commented on #136
The recommended approach right now is to use the exported query helpers to define your own testId query: https://github.com/kentcdodds/react-testing-library#getbytestidtext-textmatch-htmlelement

[2018-10-24 05:43] davidgilbertson commented on #136
Ah, I didn't realise this had been brought up so many times so recently!

(Maybe that's a sign it's a good idea? 😉 )

I see the example in the docs now, thanks for that.

[2018-10-24 05:43] #136 closed

[2018-10-24 19:46] weyert opened #138 "Allow to select file twice in input element"
- `dom-testing-library` version:
- `react` version:
- `node` version:
- `npm` (or `yarn`) version:

### Relevant code or config:

[code]

### What you did:

I am trying to test a feature that my `ImageField`-component offers which is selecting an image and then select it again. The problem is that you need to clear out or nullify the `value`-property of the `input`-element to make this work in Saf

[2018-10-24 19:49] #138 closed

[2018-10-24 19:49] kentcdodds commented on #138
That error message was all I needed. Thanks @weyert!

https://github.com/kentcdodds/dom-testing-library/commit/aa0aab7a932fa8040976bcf2fb0faa64f57141c4

[2018-10-24 19:53] kentcdodds commented on #138
:tada: This issue has been resolved in version 3.11.3 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.11.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-25 23:31] jgoz commented on #135
This is happening because the argument order for `attribute` and `container` is wrong on `QueryByAttribute`. I'll open a PR.

[2018-10-25 23:56] #135 closed

[2018-10-26 08:28] nicolasschabram opened #140 "Add getByDescriptionTerm"
Hey guys,

I'm totally enjoying using dom- and react-testing-library - thanks!

### Describe the feature you'd like:

We're using HTML description lists in our application:

[code]

I think it might be handy to select a `dd` element by its `dt`. In React for example, it could be used like this:

[code]

### Suggested implementation:

Tbh, I haven't yet looked into the internals of dom-testing-libr

[2018-10-26 15:04] #127 closed

[2018-10-26 15:58] weyert commented on #131
Think this ticket can be closed now?

[2018-10-26 16:22] #131 closed

[2018-10-31 18:08] chiefGui opened #142 "queryByRole types aren't aligned to implementation"
- `dom-testing-library` version: `^3.10.1`
- `react` version: `^16.6.0`
- `node` version: `9.2.0`
- `npm` (or `yarn`) version: `yarn v1.10.1`

### Relevant code or config:

[code]

### What you did:

I've ran some tests.

### What happened:

Tests are passing, but TypeScript is complaining.

### Reproduction:

[code]

[code]

### Problem description:

Basically, tests are passing, but TypeScript c

[2018-10-31 18:17] chiefGui commented on #142
Also, [as you can see here](https://github.com/kentcdodds/dom-testing-library/blob/master/src/queries.js#L157), `queryByRole` is implemented by automatically binding the `role` attribute. So I guess I'm not daydreaming, hah.

[2018-11-01 19:41] JeffBaumgardt commented on #142
I think that's my bad I did not update the typescript definitions when I added role since I'm not as versed as TS. I will look at adding that today.

[2018-11-01 19:50] JeffBaumgardt commented on #142
I take that back someone did add the typings from what I can tell. [As seen here](https://github.com/kentcdodds/dom-testing-library/blob/933aab4ad7b13a3a1be2edb7615bca1e77c298e5/typings/queries.d.ts#L64). I will need help from someone who knows more about TS to help troubleshoot. Perhaps @jenovs might be of assistance here.

[2018-11-01 21:01] jenovs commented on #142
I'm still learning the ropes of TS and my PR just removed redundant letter `T` from typings' names so they'll align with the function names.
And as I only used `getByRole` in my code I didn't notice any other problems (but I now checked `queryByRole` and can confirm that TS complains about missing arguments).

[2018-11-02 20:19] JeffBaumgardt commented on #142
You are welcome to. Like I said I would help out more if I knew TS more. I just used the annotations that everyone else was using. 😄

[2018-11-02 23:19] yohaydy opened #143 "getByName(attribute) feature request"
**Describe the feature you'd like:**
Some text `inputs` and especially `select` tags may not have associated label.
To select them, you need to add testid or labels.

**Suggested implementation:**
It would be nice to query those elements by `name` attribute.
I think name attributes are less prone to changes than class names, so it is fine to rely on them.

Any thoughts for/against this ?

[2018-11-03 10:44] bitttttten opened #144 "extend eventProperties of mouseMove"
### Describe the feature you'd like:

The possibility to send in eventProperties to mouse events.

I have a carousel and I want to be able to test that dragging and moving by more than 25 pixels will move the carousel to the next slide.

[code]

### Suggested implementation:

[I am guessing it lies somewhere in here](https://github.com/kentcdodds/dom-testing-library/blob/933aab4ad7b13a3a1be2edb761

[2018-11-04 09:35] alexkrolick commented on #143
Closing with the explanation from the PR:

`name`, `id`, `className`, etc. are not accessible selectors - they are not visible to the user and not selectable by assistive technology like screensreaders or built-in tab navigation. testid is the designated "escape hatch" if you need to do something like this.

You can add these queries to your own code if you want by doing something like this: see #

[2018-11-04 09:35] #143 closed

[2018-11-04 09:40] alexkrolick commented on #144
I think you'd add it around here: https://github.com/kentcdodds/dom-testing-library/blob/933aab4ad7b13a3a1be2edb7615bca1e77c298e5/src/events.js#L307

[2018-11-06 12:01] playvm7001 commented on #140
Thanks i did try it

[2018-11-06 22:16] kentcdodds commented on #144
Hi @bitttttten!

Hmmm, I would assume that this would work already because of this:

https://github.com/kentcdodds/dom-testing-library/blob/933aab4ad7b13a3a1be2edb7615bca1e77c298e5/src/events.js#L306

Feel free to open a pull request. That'll probably help me understand why this isn't already working. Thanks!

[2018-11-06 22:17] #142 closed

[2018-11-07 13:15] Alxandr opened #149 "Typings for event functions requires HTMLElement, but querySelector (et. al) returns Element"
- `dom-testing-library` version: 3.12.0
- `react` version: 16.7.0-alpha.0
- `node` version: 0.13.0
- `npm` (or `yarn`) version: 1.12.1

### Relevant code or config:

[code]

### What you did:

Tried to trigger a click on a result of `querySelector`.

### What happened:

Typescript complained (did not build).

### Reproduction:

Any typescript project with the line above should produce the issue.

[2018-11-07 18:15] #149 closed

[2018-11-07 18:22] kentcdodds commented on #149
:tada: This issue has been resolved in version 3.12.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.12.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-07 21:40] bitttttten commented on #144
https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/MouseEvent

I think it's because you cannot create a mouseEvent with the pageX or pageY keys included 🙃

There's also some discussion here: https://github.com/mui-org/material-ui/pull/13479

I guess you can close this PR and I could leave my solution for the google fu if or when I come across one?

[2018-11-07 21:44] kentcdodds commented on #144
Ah yes, it looks like this is a problem with jsdom: https://github.com/jsdom/jsdom/issues/1911

I'm afraid there's not much we can do in this library :-( You may need to use cypress or run your tests in the browser to test this behavior.

Sorry!

[2018-11-07 21:44] #144 closed

[2018-11-07 22:05] bitttttten commented on #144
I am just going to extend the getters for pageX into `(e.pageX || e.clientX)` and pass in clientX in my tests. It's enough for now.

For anyone coming from google, what I did was start the mouse at x 100, and move it to x 25.

[code]

Thanks kent and alex for the quick replies :)

[2018-11-12 13:37] Jakst opened #153 "fireEvent missing documentation and requires unnecessary element reference"
- `dom-testing-library` version: 3.12.0 (RTL 5.1.0)
- `react` version: 16.7.0
- `node` version: -
- `npm` (or `yarn`) version: yarn 1.12.1

### Problem description:

Events like `fireEvent.keyDown` don't have any documentation.

The obvious way (for me at least) to fire these events would be `fireEvent.keyDown('Enter')`, but through looking at the code I found out that you have to do `fireEvent.ke

[2018-11-12 16:59] kentcdodds commented on #153
This is a great point @Jakst! It'd be great to get improved documentation on what events are available and the typical way to use them. Would you like to open a pull request to add that to the README? Thanks!

[2018-11-13 20:30] Jakst commented on #153
I could, but I'm not really sure how to handle documentation of the random element. Just be honest about the randomness until a better fix is finished?

[2018-11-13 20:34] kentcdodds commented on #153
@Jakst, I think you misunderstand. Every event on the page must have some target. Even if that target is `document.body`.

[2018-11-16 23:06] alexkrolick commented on #107
@kentcdodds do you think user-event is mature enough to include in the next release?

[2018-11-17 00:18] sompylasar commented on #107
I think there are inherently at least two ways to simulate user-originated events in the browser: 1) imitate them with variable precision via browser DOM API from within JS runtime (not all possible to implement, many shortcuts and hacks); 2) inject into browser user input queue as if an input device generated them, let the browser translate to DOM events (precise but requires browser automation A

[2018-11-17 00:38] matchai commented on #107
I was under the impression that this would be the new default behavior, and that if someone would want to fire events the old way, they would just do it manually. That seems consistent with how dom-testing-library handles selection - if you want to select a class, use DOM methods directly.

[2018-11-17 08:36] artooras commented on #107
I would back using user-events as the new default. The philosophy of dom-testing-library is to test "the way a user would". A user certainly doesn't trigger separate DOM events, of which the user is usually even unaware (think a simple "hover" vs. all the mouseIn, mouseOver and their chains). Instead, if a user clicks on an input field, he would expect the input field to become active, along with

[2018-11-19 03:02] kentcdodds commented on #107
I would like to see it support more typical user events (drag and drop, hover, etc), then I'd like to see it used in real codebases for a while to see how it works in practice and work out any issues/common questions. I'm a little hesitant, particularly when someone changes from `fireEvent.change` to `user.type`. Their change handler will get called once for every character typed rather than once

[2018-11-19 08:08] Gpx commented on #107
I agree with @kentcdodds user-event is not mature enough. It still lacks some basic actions and more real-world testing.

As for including it in dom-testing-library, I'm not sure either. I think it shoud—at least in the beginning—be an external library that offers an alternative to `fireEvent`.

[2018-11-19 17:10] JamesPortelli opened #155 "prettyDom CSS-in-JS Serializer Plugin Support"
### Describe the feature you'd like:
While going through the Testing Javascript course, one of the videos takes you through the configuration steps required to enhance snapshots to include the css behind the generated class names.

Further down the line there was another video about a feature of react-testing-libary called debug which allows one to view the rendered DOM at any point in time while

[2018-11-19 17:22] kentcdodds commented on #155
Thanks for the idea! I like it. I'd like to do this in a way that's opt-in and framework/library agnostic. I'm pretty sure we could just read all the class names in the HTML output, then find all the applicable rules in the document style tags and print them out. Above the HTML.

We can use https://github.com/kentcdodds/jest-glamor-react as inspiration for how to do some of this.

[2018-11-19 22:47] misoguy opened #156 "Error message in cypress shows the whole DOM when an element is not found"
- `dom-testing-library` version: 3.12.3
- `cypress-testing-library` version: 2.3.3
- `cypress` version: 3.1.2

### What you did:
Made a test fail to find an element with `cy.getByText`

### What happened:
Error message is showing the whole DOM which clutters the log

### Problem description:
It seems like there is a boolean check for cypress environment in the source code [here](https://github.com

[2018-11-20 16:08] weyert commented on #107
Yes, I think it would be a good idea to mention the availability in the React and Dom testing library that this helper library exists for some common user events :)

[2018-11-20 16:10] kentcdodds commented on #107
Yes, I agree @weyert. Will help with adoption. I would like to suggest that we refer to it as experimental until it gets more features and is more proven.

[2018-11-21 15:35] #156 closed

[2018-11-21 16:08] kentcdodds commented on #156
:tada: This issue has been resolved in version 3.12.4 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.12.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-22 07:29] eunjae-lee opened #158 "getByValue cannot get element by dynamically assigned value"
- `dom-testing-library` version: 3.12.4
- `react` version: not using with react
- `node` version: 8.11.1
- `npm` (or `yarn`) version: npm 5.6.0

### Relevant code or config:

[code]

### What you did:

There's an `input` element (without initial `value` attribute). I put some value in it with JavaScript.

### What happened:

`getByValue` or `queryByValue` cannot get the element.

[code]

### Repro

[2018-11-22 09:22] arvigeus opened #159 "Unable to fire event on document"
- `react-testing-library` version: 5.3.0
- `react` version: 1.6.6.3
- `node` version: 8.11.3
- `yarn` version: 1.12.3

### Relevant code or config:

[code]

### What happened:

TypeError: Cannot read property 'defaultView' of null

### Suggested solution:

https://github.com/kentcdodds/dom-testing-library/blob/master/src/events.js#L324
Should handle document and window elements (possibly in more p

[2018-11-22 17:33] kentcdodds commented on #159
Hmmm.... Can you dig deeper because `document.body.ownerDocument.defaultView` is `window`:

<img width="516" alt="screen shot 2018-11-22 at 10 32 42 am" src="https://user-images.githubusercontent.com/1500684/48917043-12796d00-ee42-11e8-8b06-1039c34bc3fe.png">

[2018-11-22 17:46] benelliott opened #160 "Ship ES5-compatible bundles"
### Describe the feature you'd like:

Hi, would you be open to shipping Babel-transpiled ES5 bundles of this library? We are trying to use it over at https://www.github.com/netbasal/spectator but have trouble with IE11 compatibility because of the use of arrow functions in the current UMD bundles.

### Suggested implementation:

Configure Babel to support IE11.

### Describe alternatives you've co

[2018-11-22 17:48] NetanelBasal commented on #160
+1

[2018-11-22 18:07] kentcdodds commented on #160
Dang it. It looks like some of our dependencies are not compiling themselves. That's pretty annoying. We'll need to figure out how to configure babel to compile `node_modules`.

This change will need to happen in `kcd-scripts`. Would you be willing to look into what must be done (probably [here](https://github.com/kentcdodds/kcd-scripts/blob/8337bbd16fa4f964f688975f3c510d4705c94932/src/config/roll

[2018-11-23 10:05] benelliott commented on #160
It looks like these arrow functions are coming from `pretty-format`, which does ship its own `build-es5` module. Maybe if that was specifically loaded instead you wouldn't have to worry about reconfiguring Babel to compile your dependencies?

[2018-11-25 03:54] kentcdodds opened #161 "Example with Karma?"
Some people can't use Jest because they either want to run their tests in a real browser or jsdom doesn't support something their framework uses (like web components).

I think it'd be great to have a repository to point to that shows how to use dom-testing-library with Karma. I think it'd be sweet if the example tests components made with lit-html :)

[2018-11-25 10:53] LarsDenBakker commented on #161
We are working karma web component example configs here https://github.com/open-wc/open-wc/pull/58. Ill make sure to add an example with this library.

[2018-11-26 04:33] #160 closed

[2018-11-26 04:33] kentcdodds commented on #160
Alrighty, this has been fixed! Big thanks to @fobbyal in https://github.com/kentcdodds/kcd-scripts/pull/72

[2018-11-26 04:37] kentcdodds commented on #160
:tada: This issue has been resolved in version 3.12.5 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.12.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-26 05:11] NetanelBasal commented on #160
Awesome, thanks! Will test it soon and let you know.

[2018-11-27 20:22] RoystonS opened #162 "Overriding `data-testid` requires a lot of work, and can't be done completely"
### Describe the feature you'd like:

An easier way to override the `data-testid` string.

I'm really sorry to raise this: I'm aware of #76, #128 and #136, and the current proposed solution.  But they're _really_ hard to implement in practice, fully, and a very small amount of configuration in `dom-testing-library` would make that significantly easier for everybody who needs to override the test i

[2018-11-27 21:31] alexkrolick commented on #162
I think there is actually an easier way to get `react-testing-library`'s `render` to create the correct bindings for `within`, `rerender`, etc.

Render takes a `queries` option which is passed to `getQueriesForElement` in `dom-testing-library`
- https://github.com/kentcdodds/react-testing-library/blob/master/src/index.js#L6
- https://github.com/kentcdodds/dom-testing-library/blob/master/src/get-qu

[2018-11-27 22:44] RoystonS commented on #162
Yes, I saw the extra `queries` parameter, which looked like it was intended for this purpose, but a) it didn't appear in any documentation I could find, b) the existing documentation specifically recommends the laborious approach, and c) `queries` isn't in the TS typings file, suggesting that it wasn't an officially-supported approach.

And, as you say, I'd need to do something with `within`/`getQ

[2018-11-27 22:49] lukaszfiszer commented on #162
I second @RoystonS.

We started using `react-testing-library` for a number of existing react application. All of them already use  `data-test` attributes for purposes of e2e tests. Sticking to the `data-testid` convention is not an option because we would have to rewrite it everywhere. We have implemented a wrapped, but doing this is every project is painful. Maintaining those wrappers when API ch

[2018-11-27 22:52] kentcdodds commented on #162
I really wanted to avoid global configuration of this library, but I can see that this is causing real problems for people.

I am willing to look at a pull request that implements this feature request. No promises it will be merged, though I'm feeling at about ~75% in favor of accepting this functionality. Still a little hesitant, but definitely willing to take a look.

[2018-11-27 23:04] RoystonS commented on #162
Yup, I do understand and respect the desire to avoid global configuration; I've been giving the high-level wrapping approach a good go as a result, and only (re)raised this reluctantly as it is _so_ painful.  Thanks for being willing to consider it, @kentcdodds.

I'll get a PR together, and understand 'no promises'.

[2018-11-28 01:49] alexkrolick commented on #158
The .value setter/getter and the DOM attribute aren't necessarily in sync (see [Codepen](https://codepen.io/alexkrolick/pen/NELEKE?editors=1011
)), so you'd probably need to either concat the results of both the current querySelectorAll and the proposed filtered DOM traversal, and maybe dedupe the results with some documented hierarchy (probably preferring the dynamic `.value`).

[2018-11-28 15:16] RoystonS commented on #162
Ok, I've pushed in two alternative PRs (#163 and #164) for the price of one, to enable two alternative configuration APIs to be considered.

The PRs are identical apart from the exposed configuration API.

[2018-11-28 23:30] RoystonS commented on #162
(For anybody reading this, @kentcdodds is looking for feedback on PR #164.)

[2018-11-29 17:16] RoystonS commented on #162
This shipped in v3.13.0. Many thanks to @kentcdodds and those who reviewed/provided input.

[2018-11-29 17:16] #162 closed

[2018-12-06 12:19] FredyC opened #167 "Add queryByTag / queryAllByTag ?"
### Describe the feature you'd like:

I am a bit surprised that this utility function is not present. I mean it's surely easy to do `container.querySelector('input')`, but it would feel much more concise if I could just `queryByTag('input')` without messing with `container` directly not even mentioned `getByTag` :)

My only guess why this wasn't added is some assumption that it would lead to testi

[2018-12-06 12:34] gnapse commented on #167
My take is that, as you say, this is a bit of an implementation detail. The end user does not know or care about what tag an element is in general. That's why most `queryBy*` functions provided try to find elements by features that are prominent to a would-be actual user experiencing the page via a web browser or screen reader. I think `queryByTestId` is the only counter example.

[2018-12-06 14:21] FredyC commented on #167
I see. It's a thin line for sure. For example, when a component is wrapping input element it would feel weird write tests pretending there is no actual input underneath. Ultimately, you need to fire events on that particular element and that alone can be seen as an implementation detail :)

The `queryByTestId` is surely another way, but you need to know what kind of element it is anyway, right?

[2018-12-06 14:56] gnapse commented on #167
Yes, `input`s are maybe a special case, but the feature you're requesting is too broad, allowing to select by any tag, which could be abused. Maybe there should be a way to query form elements. `jest-dom` has [something like that](https://github.com/gnapse/jest-dom#tohaveformvalues) to assert expected form values. But it does not work for the general purpose of also interacting with the elements p

[2018-12-06 15:10] kentcdodds commented on #167
We do have a way to query form elements: `getByLabelText`. That's what I recommend using. We understand that sometimes the built-in queries aren't enough, but that's why you get the container. Yes, interacting with an input DOM node is a bit of an implemention detail, but we make tradeoffs for practicality. This situation doesn't warrant a special API. I WANT it to be awkward to select by tag name

[2018-12-06 15:10] #167 closed

[2018-12-06 17:24] shavyg2 opened #168 "QuerySelector with uuid fails, when starting with a number."
*Essentially a useless ticket, sorry if it wastes your time, figured out the issue. This can be closed.*

- `dom-testing-library` version: 3.13.0
- `react` version:16.7.0-alpha.2
- `node` version:v10.11.0
- `npm` (or `yarn`) version :yarn 1.12.3

### Relevant code or config:

[code]

### What you did:

I am clicking a button and then i am expecting a new element to be rendered

### What happened:

[2018-12-06 17:24] FredyC commented on #167
Ok, I understand. I am kinda writing my first tests with this library and it happens that it's the component wrapping an input so I was a bit confounded how to approach that.

Buttons are easy I suppose as it's mostly about clicking on them. With input, if I want to eg. forcefully set its value, there is no easy path around that.

[2018-12-06 17:24] #168 closed

[2018-12-06 17:58] kentcdodds commented on #167
The "easy path" for querying for an input is to use `getByLabelText`. For buttons use `getByText`. Is there a reason that doesn't work for you?

[2018-12-06 17:59] gnapse commented on #167
Why not? If you have an `input type="text"` with a `data-testid`, and later you change it to a `textarea`, would it break the way you set the value?

Also, as Kent mentioned above, `getByLabelText` should work too. After all, a real user will interact with the input based on how its labeled, which is what tells them what the input is for. And it will still work if you change an input to later be a

[2018-12-06 19:02] FredyC commented on #167
Yeah, `getByLabelText` works in an ideal world, but when our designer wants inputs with placeholders and no labels around it's kinda hard to argue about that. I could add a hidden label there, but that feels like I am doing it just to satisfy tests which never felt right to me (same reason why I don't like data-testid much). Yea sure, accessibility argument ... we are targetting specific audience

[2018-12-06 21:32] alexkrolick commented on #167
The goal of this library is to provide a user-centric approach to testing webapps - it is not to to become a DOM traversal library. For that you can use `document.querySelector` - it works fine in JSDOM.

[2018-12-07 17:56] Pau1fitz opened #170 "Issue update the input value when using `useState` hook"
I am having issues update the input value when using `useState` hook.

- `dom-testing-library` version:^5.2.3
- `react` version:^16.7.0-alpha.2
- `node` version:v10.14.1
- `npm` (or `yarn`) version:1.12.3

### Relevant code or config:

[code]

### What you did:

I am trying to update the username and password but to no avail. My code looks like the following:

[code]

### What happened:

<img widt

[2018-12-07 18:03] gnapse commented on #170
You should update them like this:

[code]

instead of

[code]

Have you tried that? I recall that the latter is no longer supported, but now reviewing the README I see that there are still examples in it using this way. If you confirm the first way of doing it in the examples above works, then maybe the README needs to be updated.

[2018-12-07 18:07] Pau1fitz commented on #170
That works

`fireEvent.change(inputField, { target: { value: 'new value' } })`

[2018-12-07 18:07] gnapse commented on #170
Also, I'm not sure `getByText` would find an `input` element with that text being its value. `getByText` is meant to find elements that have that `textContent`. That could be an issue here as well.

[2018-12-07 18:09] Pau1fitz commented on #170
Tbh, I am testing a mock api call so I wanted to check the values were being sent to the mocked api call. I just put the `getByText` there for this question.

[2018-12-07 19:34] #170 closed

[2018-12-07 20:13] RoystonS opened #171 "Allow custom normalization for matchers"
### Describe the feature you'd like:

It would be really helpful to be able to provide custom normalizer functions to the get/query functions. In our applications we have a lot of special RTL-related [UCC characters such as LRE, RLE, RLM, PDF, etc.](https://www.w3.org/International/questions/qa-bidi-unicode-controls) and looking up elements by text is made very hard if tests have to specify those

[2018-12-07 20:19] kentcdodds commented on #171
I'm in favor of this:

👍

[2018-12-07 20:20] RoystonS commented on #171
Ok, cool; will get a PR together.  You happy with that API, or would you prefer `{ normalizerFn: removeUCC }`?

[2018-12-07 20:38] kentcdodds commented on #171
I'm fine with either. You choose 👍

[2018-12-08 23:07] RoystonS opened #173 "Broken link to code of conduct"
The `CODE_OF_CONDUCT.md` file is referenced from a badge in `README.md`, which expects the file to be in the repository root, but the file is actually in the `other` directory. So the link is broken.

Either the link is wrong or the location is wrong.  `react-testing-library` puts this file in the repo root.

### Suggested solution:

Move `CODE_OF_CONDUCT.md` from `other` to the repo root?

(I was

[2018-12-08 23:12] kentcdodds commented on #173
Yeah, I think the file should be moved.

[2018-12-09 04:15] alexkrolick commented on #159
Not able to reproduce this error - see https://github.com/alexkrolick/repro-document-fire-event/blob/master/src/__tests__/index.test.js

Please provide a minimal reproduction in Codepen or a repo if you can come up with one

It seems possible that this error is due to something else, such as the node being queried being undefined/null

[2018-12-09 04:51] alexkrolick commented on #107
https://github.com/bigtestjs/interactor - an interesting library for simulating interactions, plus some Cypress like "interactability" detectors like isHidden, etc. Might be possible to get it to work with dom-testing-library somehow.

[2018-12-10 22:26] zydjohnHotmail opened #177 "Need some instructions on how to use this library"
Hello:
I have a simple HTML file, running from local web server:
http://localhost/index.html

[code]

This setups a HTML file with two JavaScript functions. The first one, `count1()` shows an increasing number from 1 with step of 1, sleeps one second each time.
The second one, `count2()`, shows an increasing number from 200 with step of 2, and sleeps two seconds each time.

Both functions generate

[2018-12-11 01:05] sarenji opened #179 "focusIn, focusOut, and resize events"
### Describe the feature you'd like:

`fireEvent.focusIn` and `fireEvent.focusOut` seem to be missing. I didn't know if there was a reasoning for it, so I wanted to double-check with y'all. Here's the documentation on focusin: https://developer.mozilla.org/en-US/docs/Web/Events/focusin

Additionally, `fireEvent.resize` is missing. This one is a bit weirder, though, so rather than suggest anything,

[2018-12-11 03:08] kentcdodds commented on #179
Thanks! If it's standard, then it should probably be included. Yes, please do make a PR! Thank you.

[2018-12-11 03:53] kentcdodds commented on #177
Hi @zydjohnHotmail,

I'm not totally sure I understand your use case, but you can include dom-testing-library on your page in a similar way that you include jQuery:

[code]

Then you can use the global variable `DomTestingLibrary`.

I hope that's helpful.

If you have further questions, please direct them to [spectrum](https://spectrum.chat/react-testing-library).

[2018-12-11 03:53] #177 closed

[2018-12-12 04:46] #158 closed

[2018-12-12 04:49] kentcdodds commented on #158
:tada: This issue has been resolved in version 3.14.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 01:19] #179 closed

[2018-12-17 22:55] brucou opened #184 "when using `waitForDomChange` on chrome 70 : `setImmediate` is not defined"
- `dom-testing-library` version:
3.16.1
- `react` version:
not using react
- `node` version:
v8.2.0
- `npm` (or `yarn`) version:
v5.3.0
### Relevant code or config:

[code]

### What you did:

### What happened:

[code]

### Reproduction:
can't reproduce in codesandbox. When I try to import {waitForDomChange} from "dom-testing-library" :

[code]

### Problem description:

That code from the librar

[2018-12-17 23:39] alexkrolick commented on #184
Very strange - checking the console for this page (github): `window.setTimeout` and `window.setInterval` are both available as globals, but `window.setImmediate` is not. It's probably polyfilled in.

https://caniuse.com/#search=setImmediate

`setTimeout(fn, 0)` should be a fine replacement

[2018-12-18 00:03] brucou commented on #184
yeah it is used in only 5% of the browsers...  I mocked it as you suggested, but that would be much better replaced at the source. What do you think? It is only used in two places in the code, for `waitForDomChange` and `waitForElement`.

[2018-12-18 00:04] alexkrolick commented on #184
Yes, it should be replaced in the library. Care to make a PR?

[2018-12-18 00:06] brucou commented on #184
eer how do I do that?

[2018-12-18 00:11] kentcdodds commented on #184
Hi @brucou 👋

We're here to help you! Start here: makeapullrequest.com

Let us know if you need help!

[2018-12-18 00:13] brucou commented on #184
amazing, looking forward to reading it. I always wondered how that works.

[2019-01-03 20:19] #171 closed

[2019-01-03 20:19] #159 closed

[2019-01-03 20:20] kentcdodds commented on #107
Closing this as we now have [user-event](https://github.com/Gpx/user-event)

[2019-01-03 20:20] #107 closed

[2019-01-03 20:21] kentcdodds commented on #184
@brucou,

Are you still interested in making this contribution?

[2019-01-03 20:23] kentcdodds commented on #161
@LarsDenBakker, any updates?

[2019-01-03 21:19] brucou commented on #184
xmas and new year\s eve got in the way. Still have a tough week. If there is no rush, let a week pass and if I haven't done anything about it by then, then go ahead and do the change. Would that work?

[2019-01-03 21:31] kentcdodds commented on #184
Yep! No worries 😁

[2019-01-04 01:16] brucou commented on #184
one question : there is a __tests__ directory with jest tests. I am going to test this feature in a real browser, so is it ok if I use Qunit? and create another directory called tests instead of __tests__? or what do you advise?

[2019-01-04 04:56] kentcdodds commented on #184
That's a great point @brucou. I'm not sure. I think it'd probably be cool to have a test or two that run in a real browser (using Karma), but I think I'd rather use mocha for two reasons:

1. I'm personally more familiar with mocha
2. mocha is a LOT more widely used than Qunit

I don't think it's absolutely necessary to have tests that run in a real browser, but if you really would like to do this

[2019-01-04 06:48] brucou commented on #184
I used mocha in the past, I am cool with it but I have no appetite to
learn karma and the associated config though.
PR done.

On 1/4/19, Kent C. Dodds <notifications@github.com> wrote:

--
---

[2019-01-07 22:07] brucou commented on #184
Forgot to thank you for the support Kent in making that pull request. That was really appreciated! and the learning material is awesome.

[2019-01-07 22:11] kentcdodds commented on #184
Awesome! Congrats on the PR @brucou! :+1:

[2019-01-11 01:42] abe4mvp commented on #159
I am getting this same issue but when im trying to fire an event on document.
`fireEvent.keyDown(document, { key: 'ArrowRight'});`

also confirmed that
`document.ownerDocument`  is null in the browser

[2019-01-11 03:52] kentcdodds commented on #159
Hey @abe4mvp,

I think that it would be reasonable to change this:

https://github.com/kentcdodds/dom-testing-library/blob/ab29a47386394fee16db700db8cfd5a6ac03c33e/src/events.js#L332

to this:

[code]

If you would be willing to [make a pull request](http://makeapullrequest.com) for that (including a test) then we can merge it and you should be good to go :)

[2019-01-17 16:08] icfantv opened #192 "typing"
- `dom-testing-library` version: 3.12.3 (but probably all)
- `react` version: N/A
- `node` version: N/A
- `npm` (or `yarn`) version: N/A

### Relevant code or config:

[code]

### What you did:

Using the `fireEvent.xxx` methods results in a generic options object (read: not typesafe) that defines the underlying event options.

Additionally, using the `fireEvent(element, ...)` function, the second

[2019-01-17 18:08] icfantv commented on #192
@kentcdodds, I'll probably have time to start looking at an optional generic typing solution if that's the route we want to go - at least in that direction, it wouldn't be a breaking change because we could always fall back to the current behavior.  Thoughts?

[2019-01-17 23:43] kentcdodds commented on #192
I think whatever the solution I'd prefer to not break existing people (for now). Let's make the improved typings opt-in via generics if we can.

[2019-01-24 09:52] freedomlang opened #194 "wait-for-expect dependency throws Cannot read property 'now' of undefined"
- `mocha` version: 5.2.0
- `chai` version: 4.2.0
- `jsdom` version: 13.1.0
- `jsdom-global` version: 3.0.2
- `dom-testing-library` version: 3.16.4
- `react-testing-library` version: 5.4.4
- `react` version: 16.7.0
- `node` version: 9.11.1
- `npm` (or `yarn`) version: 6.5.0

### What you did:

I got the error below after running `npm test`.

### What happened:

[code]

### Reproduction:

It can rep

[2019-01-28 05:10] adiun opened #196 "Off-screen/hidden elements still queryable"
- `dom-testing-library` version: 3.16.4
- `react` version: 16.8.0-alpha.1
- `node` version: 8.11.3
- `npm` (or `yarn`) version: 5.6.0

### Relevant code or config:

[code]

### What you did:

Tried to write the tests above, expected them to pass.

### What happened:

Tests failed:
[code]

### Reproduction:

https://codesandbox.io/s/2zwjwyp13n

### Problem description:

First off, I'm new to `react

[2019-01-28 06:13] sompylasar commented on #196
If only Cypress had its DOM query functions reusable... It has functions that check exactly what you're describing. CC @bahmutov

[2019-01-28 09:09] adiun commented on #196
Cypress is really impressive. (Looking at https://docs.cypress.io/guides/core-concepts/interacting-with-elements.html#Actionability). FWIW for handling off-screen I worked around this by using `wait` with an expectation callback to check if an element is within a container. Would be awesome if I could avoid `wait` though.

[2019-01-28 16:00] kentcdodds commented on #196
Hi @adiun! I think this would be really cool. I've definitely run into this problem and it's actually why [this exists](https://github.com/kentcdodds/dom-testing-library/blob/369d17e169e5c7f47688482b8f0ad8ecda2ee35f/src/queries.js#L102) (because my `getByText` query in cypress-testing-library was returning stuff in a script tag 😱). I don't have the time to work on or investigate it myself, but if

[2019-01-28 19:17] kentcdodds commented on #196
I agree :+1:

Though I wonder if there are some utilities that we could expose if we're in an environment that _does_ do those things (like the browser). 🤔

[2019-01-28 19:18] kentcdodds commented on #196
Or even better, if there were a way we could filter the elements that are returned by the queries (as originally suggested) if we are able to determine their visibility (because we happen to be in an environment that provides us with that information).

I think this is definitely doable if someone wants to try.

[2019-01-28 19:33] kentcdodds commented on #196
I _think_ that defining "not visible" as something that a screen reader wouldn't read and/or something you cannot find via <kbd>⌘</kbd> + <kbd>f</kbd>.

[2019-01-28 19:51] gnapse commented on #196
Maybe I was not clear enough, because of the different uses we can give to the adjective "visible". Yes, I said "become visible" and in that case I said it in the sense of it being actually drawn in a screen. But the sense of visible that this library aims for is more than that. Under no circumstance we should consider an element that's out of view just because of a viewport size constraint to be

[2019-01-28 20:02] adiun commented on #196
Thanks for the explanation... that is an interesting requirement. Why is that though? Cypress [regards a scrolled-out element as "not visible"](https://docs.cypress.io/guides/core-concepts/interacting-with-elements.html#Scrolling). When I think of "The more your tests resemble the way your software is used..." I think of a user seeing a panel that doesn't have "Paragraph-4". If they want to click

[2019-01-28 20:12] kentcdodds commented on #196
Actually now that I think about it, actually visible on the screen makes more sense to me.

[2019-01-28 20:18] alexkrolick commented on #196
The big issue for me is that Cypress can use computed styles, which includes CSS, but JSDOM can only use element styles and properties. So even if a lot of work was done to make visibility checkers in **JSDOM** more aware of viewports, there still would be a significant gap as far as testing the actual experience of an app.

The "interactability" check Cypress performs before clicking an element d

[2019-01-28 20:52] kentcdodds commented on #196
I agree that it's not something that we should even try to do in the JSDOM world, but I do think that people are running dom-testing-library in other environments (Cypress runs it in the browser, Karma runs it in the browser, and puppeteer runs it in the browser). So if we can detect that we're in a browser environment then we could probably do this filtering reasonably well I think. If we detect

[2019-01-28 21:01] alexkrolick commented on #196
Hmm, now that I think about it, I don't think that the queries themselves should have this check. For example, in a long form, a user would scroll the page while looking (querying) for some text. They wouldn't bail out. On the other hand, restricting events from being fired on off-screen elements makes sense (and in some limited case it may make sense to _optionally_ query only the visible screen,

[2019-01-28 21:05] kentcdodds commented on #196
Ah, that's a great point Alex. What does Cypress do when you try to query the page for something that's not in the viewport? Does it require you to scroll around to find things? 🤔

[2019-01-28 21:08] alexkrolick commented on #196
Cypress does this: https://docs.cypress.io/guides/core-concepts/interacting-with-elements.html#Actionability

A lot of the checks are in here:

https://github.com/cypress-io/cypress/blob/develop/packages/driver/src/dom/visibility.js

[2019-01-28 21:12] kentcdodds commented on #196
Thanks for finding that Alex.

I think I'd be more comfortable trying something like this out in another package and seeing how that goes before bringing it into the core. Anyone up for that?

[2019-01-28 21:14] alexkrolick commented on #196
Maybe as part of `user-event`, or an add-on that could be called as a pre-filter in another library: `isClickable(element[, window])`

[2019-01-29 08:38] jonnycornwell opened #197 "Unable to instantiate DragEvent in MicrosoftEdge"
- `dom-testing-library` version: 3.15.0
- `react` version: n/a
- `node` version: n/a
- `browser`: Microsoft Edge 42.17134.1.0 (Microsoft EdgeHTML 17.17134)
- `npm` (or `yarn`) version: n/a

### Relevant code or config:

[code]

### What you did:

Used fireEvent to trigger a dragStart within Edge. We run our tests in the browser itself via intern.

### What happened:

JS runtime error: `SCRIPT5002:

[2019-01-29 15:59] kentcdodds commented on #197
Hi @jonnycornwell!

Thanks for filing this issue. Here's what I'm considering:

1. This is a bug in a platform that will hopefully eventually be fixed.
2. This is only happening on one platform.
3. 99.999% of dom-testing-library users are not running tests on that platform.
4. 99.999% of `fireEvent` calls are not for drag events.
5. There's a workaround which you can easily do in your own code.

S

[2019-01-29 15:59] #197 closed

[2019-01-29 19:21] jonnycornwell commented on #197
@kentcdodds, thanks for getting back, that is the way I was leaning for sure, I just felt it would be worth raising for your thoughts and/or at least get an issue logged for future reference.

[2019-01-30 17:21] ValentinH opened #198 "Should this case be supported by getByLabelText()?"
It's a question but not a support one, more a feature request 😋

In our app, we are using the [material-ui Chip](https://material-ui.com/demos/chips/#chip) to display radio like buttons. If I'm not mistaking, we set the right aria attributes and roles so they are accessible.

In the following case, I was expecting the `getByLabelText('open')` to return the div containing the `aria-checked`:

[code

[2019-01-30 17:40] kentcdodds commented on #198
I'm not 100% certain, but I think that HTML wont association the span with the div radio button. I'm honestly not sure. If you can find some documentation around the actual standard then maybe we can add that standard to our queries.

[2019-01-30 17:45] alexkrolick commented on #198
[code]

[2019-01-30 17:46] sompylasar commented on #198
This and [the previous discussion about element visibility and interactivity](https://github.com/kentcdodds/dom-testing-library/issues/196#issuecomment-458280007) surfaces quite an interesting problem with this library: it does not make a difference between how the app is used with assistive technologies versus with the user eyes. In most cases these UX patterns match 1:1 but in some cases where l

[2019-01-30 17:51] kentcdodds commented on #198
@sompylasar is correct. This library is limited by not actually being able to see what (most) users see. In a perfect world that would be how we write our tests (not sure how you'd write tests like that... not even browser-based solutions are capable of writing tests like that AFAIK). So we use the next-best-thing which is the same stuff screen readers rely on. That gets us close enough to be very

[2019-01-30 17:58] ValentinH commented on #198
@alexkrolick I thought your suggestion was the key but unfortunately it's not working. Should it?

Based on https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/examples/radio/radio.html, I've also tried using the following markup without success (even if it cannot be done with Material-UI as-is):
[code]

[2019-01-30 18:08] alexkrolick commented on #198
It should work yes - `getByLabelText("open") should find the span and then find the div that points at its id ("xyz").

We certainly haven't encoded the other aria roles yet, so they won't work, but as Kent said I'm certainly in favor of doing so over time or even as a separate semantic HTML parsing library.

[2019-02-01 07:47] jakoandersen opened #199 "Testing window.postMessage (race condition?)"
- `dom-testing-library` version: 3.16.5
- `react-testing-library` version: 5.4.4
- `react` version: 16.7.0
- `node` version: 8.4.0
- `npm` version: 5.3.0

### Relevant code or config:

`EditorContainer.ts` - the component i'm testing:
[code]

### What you did:

[code]

### What happened:

Test 3 fails, outputting that it could not find "Some title that exists in the template  (anonymised here)" in

[2019-02-01 15:08] gregtatum opened #200 "Consider listing getAll queries explicitly in the API documentation"
### Problem description:

As a user, I would like quick access to the API documentation.

The sidebar lists all of the queries that are available, and is an easy reference when I'm deep in the middle of writing tests. However, the `getAll` functions are not explicitly listed. Since I'm writing tests, I'm looking to quickly get the information I need to accomplish my task, and missed the notices an

[2019-02-01 17:34] kentcdodds commented on #200
Thanks for the suggestion @gregtatum. Could you please file this issue on the docs repo? https://github.com/alexkrolick/testing-library-docs/issues

Thanks!

[2019-02-01 17:34] #200 closed

[2019-02-04 17:54] helixbass opened #201 "getByText()/queryByText() (or some new query) should search across nested elements"
### Describe the feature you'd like:

In my app, I'm rendering some markup like:
[code]

It feels like I should be able to test that the right "answer prefix" (here, "a.") is rendered with the corresponding answer text just by doing eg:
[code]
(which would select the enclosing `<div>`)

So I guess recursively concatenating text node children from nested elements?

It didn't look like there's alrea

[2019-02-04 18:10] kentcdodds opened #202 "Throw an error if `getBy*` queries return anything other than one result."
### Describe the feature you'd like:

As a random thought, what if we throw an error if you use `getBy*` query and there's more than 1 element that could be returned for the given query? We already do that if there are no elements returned.

I'm not certain how I feel about it, but it seems like a good idea. I had the idea when responding to #201

As it occurs to me, one very common mistake when u

[2019-02-04 18:15] alexkrolick commented on #202
I think this is a good idea. It's definitely possible to have bugs where you select the wrong copy of some ambiguous text (for example a form title and button with the same text). This forces a more specific selector.

[2019-02-04 18:17] alexkrolick commented on #202
On a related note, I think the exact opposite should be the default in Cypress Testing Library - getBy should not error, it should return an empty or null result like jQuery. Might make sense to change both if there is going to be a breaking change.

[2019-02-04 18:19] kentcdodds opened #203 "Add async/retryable `findBy*` and `findAllBy*` version of the queries"
### Describe the feature you'd like:

@alexkrolick has brought this up before and we ultimately decided to not go for it at the time, but I've been thinking about it more and I think it's time to revisit the decision.

There are some UI frameworks that are completely async. In my TestingJavaScript.com course when I show how to use dom-testing-library with these, I had to create a [`fire-event-asyn

[2019-02-04 18:20] kentcdodds commented on #201
I think that I'm in favor of this if we can make it work. I can't promise that I'll be able to work on it any time soon, but I would be happy to review and merge a PR that implements this kind of text searching for all queries. One potential issue I see is:

[code]

The outer div and the span both match. I think a naive implementation of this would result in returning the `<div>`, but perhaps the

[2019-02-04 18:23] kentcdodds commented on #202
Yes, I think Cypress is a different animal and should probably have little wrappers that use `queryAllBy*` directly so it can handle the results uniquely. Would you like to open an issue there?

[2019-02-04 21:19] kentcdodds commented on #203
How has that lib been going @alexkrolick? Are you using it? Do you know of anyone else using it? What do you think?

[2019-02-04 21:58] alexkrolick commented on #203
I used it in Puppeteer to simulate Cypress-like retries and it worked pretty well

[2019-02-04 22:37] kentcdodds commented on #203
I think that it's safe to say we can take a PR to add these queries. I may get to it eventually if nobody else does it first :)

[2019-02-05 13:51] KevinHerklotz opened #204 "get anchor elements or even other elements"
### Describe the feature you'd like:

When I have an anchor with some nested elements like this:

[code]

I would love to have an easy way to get this anchor with a function like

[code]

that returns the anchor when I say `getAnchorByText('Click here!')`.

### Suggested implementation:

I did not look into that yet as I want to make sure others consider this feature as useful as well. If yes I mi

[2019-02-05 18:15] alexkrolick commented on #204
Thanks for the suggestion!

This goes against the goals of the library, which is to provide queries that resemble how users find elements. Tag names are invisible to a user. So the generic query doesn't belong here.

There are some some cases that have special treatment by assistive technology, but I'm not sure a tag-based query is the right way to do it, or if this sufficiently resembles the way

[2019-02-05 18:24] kentcdodds commented on #204
I kinda feel like this is a dupe of https://github.com/kentcdodds/dom-testing-library/issues/201

Thoughts?

[2019-02-05 18:33] alexkrolick commented on #204
Yes, #201 would allow selecting the link by text at least (but not specifying that it must be a link unless you add the selector option).

[2019-02-05 18:36] alexkrolick commented on #201
I think this would fix these queries, if someone wants to pick it up: https://github.com/kentcdodds/dom-testing-library/pull/190

[2019-02-05 18:44] kentcdodds commented on #204
Oh, that's true. This is slightly different. Hmmm...

Well, normally you interact with the elements and events bubble up, but if you were wanting to make an assertion on the element (like the HREF attribute is set correctly, which would be a totally legit assertion) then being able to access the nearest parent anchor would be useful.

What if we added an option to the query:

[code]

By making it

[2019-02-05 18:54] alexkrolick commented on #204
If the innertext query was implemented, this would work:

[code]

[2019-02-05 19:02] kentcdodds commented on #204
Let's stick with that Alex :+1: I like that.

[2019-02-06 13:28] jakoandersen commented on #199
@kentcdodds any idea about this, or want me to provide an example sandbox? :smile:

[2019-02-06 16:22] kentcdodds commented on #199
Always

[2019-02-07 07:32] jakoandersen commented on #199
I was not able to replicate this in a sandbox. Though i don't use redux in the sandbor nor material ui and other libraries. I think i need to investigate how my rendering is exactly occuring.

https://codesandbox.io/s/244870l2r0

[2019-02-07 13:00] mastertinner opened #206 "waitForElementToDisappear"
### Describe the feature you'd like:

I love the `waitForElement` function. However, there are cases where I don't add an element but rather remove existing ones. Is there a similar `waitForElementToDisappear` function or is there an easy way to achieve that using the existing functions?

### Suggested implementation:

[code]

Currently I'm using `process.nextTick` but that seems like a hack to me

[2019-02-07 15:11] kentcdodds commented on #206
Forgot about that! Done :)

Now let's discuss.

So you can do this today with:

[code]

But that's kinda awkward and having a `waitForElementToBeRemoved` or something similar would be useful. Just not sure of the best name.

[2019-02-07 15:38] mastertinner commented on #206
In the meantime, I found out that `waitForDomChange` actually covers most of my use cases. For explicitly wait for the removal of an element, I think the name you suggested (`waitForElementToBeRemoved`) is quite a good one. It's a little verbose, but I think that's worth having the name be explicit about what it does.

[2019-02-07 16:30] kentcdodds commented on #206
I'm into it. I say let's do it.

[2019-02-07 16:51] lgandecki commented on #206
@kentcdodds I think it would have to be queryByText? Otherwise the getByText itself will fail when the element goes away, and the expectation won't be checked.
Also, I wonder if the awkwardness here is something you feel very strongly? I don't personally see a problem with that wait (that's +/- how I've seen this getting done in "selenium era"). Maybe a documentation change would be a way to go in

[2019-02-07 16:56] kentcdodds commented on #206
No worries @lgandecki, thanks for providing your perspective. You make good points. I wonder though if there could be several document changes before that thing is actually removed. Like a progress bar for example.

It's true that this is really not a very typical thing and the workaround isn't that challenging (you're right, would need to be a `queryBy*`). Hmmm...

[2019-02-07 18:05] icfantv commented on #192
I haven't forgotten about this.  It's still on my radar.

[2019-02-08 21:38] tylerthehaas opened #207 "Enhance getByText query"
### Describe the feature you'd like:

Currently the getByText takes an HTML element to scope the search to and then a text matcher. This will return an HTML element. The issue I've run into with this is that say I provide the following.

[code]

I would get the following error:

[code]

This is because I've scoped it to the element that I expect the text to appear in so it will search for elements

[2019-02-09 02:34] kentcdodds commented on #207
We should definitely consider the scoped element in the query along with all its children. I'd call that a bug. Anyone want to fix that?

[2019-02-11 18:55] gabriel403 commented on #206
@kentcdodds @lgandecki I stumbled upon this issue and myself today, I need to check a progress loader has finished, as the main list element to check is always in the dom, I could check individual items within the list element but wanted to give this a try and then use snapshots for asserting that the items are there.
I tried
[code]
but as stated that fails as the getByTestId fails when the loader

[2019-02-11 19:16] alexkrolick commented on #206
@gabriel403 jest-dom was just updated today to not throw when . toBeInTheDocument is checked against `null`

[2019-02-12 22:34] tylerthehaas commented on #207
Sorry for the delayed response. I'd love to work on this. Any objection to my proposed implementation?

[2019-02-12 22:39] kentcdodds commented on #207
Yeah, so I think the implementation will basically be: "Does this match the scoped element? Yes? Return the scoped element. No? Do whatever we're currently doing"

An elegant way to do this may be to change [this](https://github.com/kentcdodds/dom-testing-library/blob/7e9a72656a080622b107fdc286a11d6a5f9dacfd/src/queries.js#L108):

[code]

To this:

[code]

Though that presents the problem: "What i

[2019-02-13 20:51] jjmac opened #212 "Support ES5 (again)"
- `dom-testing-library`version: 3.16.6
- `react-testing-library`version: 5.8.0
- `react` version: 16.8.1
- `node` version: 10.15.1
- `npm` (or `yarn`) version: 6.4.1
- `@storybook/react`version: 4.1.11
- `storybook-addon-specifications`version: 2.1.2

### What you did / Problem description:

Trying to run tests in IE11 results in a syntax error because the dist targets ES6.

The break occurs at th

[2019-02-13 21:16] jjmac commented on #212
Ugh. So I think I found the solution - I need to import the specific UMD file in react-testing-library to pick-up the ES5 distro:

[code]

[2019-02-14 10:29] adnasa opened #214 "adding queryByName/queryAllByName"
### Describe the feature you'd like:

Hey
thanks for this project.
I was wondering if there was a strong reason to not support `(query|get)AllByName` or if this is a missing feature. At the moment, we are adopting `dom-testing-library` in our project and I've run into concerns where it has forced me to adapt my implementation.

Some pain points

1. I have to apply `data-testid` when I don't have t

[2019-02-14 10:30] NetanelBasal opened #215 "getByText throws node.matches is not a function"
I have the following test:

[code]

I get the error:

After debugging, I found that the problem is in the following [line](https://github.com/kentcdodds/dom-testing-library/blob/677f4e9c945a502f94ab269236040e042d4b9d56/src/queries.js#L110):
[code]

One of the nodes is a `NodeList`, and therefore we get the error.

[2019-02-14 10:49] valscion commented on #215
Will be fixed by https://github.com/kentcdodds/dom-testing-library/pull/213

[2019-02-14 10:50] valscion commented on #215
Oh wait, does the error come from `node.matches`? My error came from `container.matches` right above the code lines you pasted.

I'll see if #213 indeed fixes it or not. Can you try that branch to see if it resolves your issue?

[2019-02-14 10:51] NetanelBasal commented on #215
Yes, `node.matches` don't exist on `NodeList`.

[2019-02-14 10:52] valscion commented on #215
Ok, I'll see if I can amend #213 to fix this, too

[2019-02-14 10:52] NetanelBasal commented on #215
Thanks.

[2019-02-14 10:55] valscion commented on #215
I'm not actually sure what your `fixture.nativeElement` refers to. Can you tell a bit more about your test case that is breaking, and show a little bit more code?

[2019-02-14 10:57] valscion commented on #215
Is it some kind of angular test? I found this by googling "fixture.nativeElement" https://angular.io/guide/testing#nativeelement

[2019-02-14 11:09] valscion commented on #215
Could you try downloading this to your repository root: https://gist.github.com/valscion/c268bbc28f9605ae1366978341a2fcf5/raw/3906daac57118f38a9d4d49d2dbc9d075009eae9/dom-testing-library-3.16.6.tgz

And then change your package.json to refer to that package instead of a version for `dom-testing-library`:

[code]

Then run `npm install` or `yarn install`, whichever you're using, and check if your i

[2019-02-14 11:26] NetanelBasal commented on #215
Yes, it's Angular, but it's a standard DOM element.

[2019-02-14 11:31] NetanelBasal commented on #215
No, it doesn't fix it. The problem is the `node`, not the `container`.

[2019-02-14 11:36] valscion commented on #215
Did it work before version 3.16.6? Can you try 3.16.5?

[2019-02-14 11:41] valscion commented on #215
It might be caused by https://github.com/kentcdodds/dom-testing-library/issues/215 that was first released in v3.7.0. Can you try 3.6.0, if possible, to see if your issue goes away?

I understand it might not be possible to downgrade that long back to history and make all your tests pass, but maybe this specific case would be fixed by that?

[2019-02-14 12:25] NetanelBasal commented on #215
From the first look, it seems like it does solve the issue.

[2019-02-14 12:25] NetanelBasal commented on #215
Leaving only the following line in the source code, solve the issue:

[code]

[2019-02-14 12:43] valscion commented on #215
Which one of the versions fixes the issue? Version 3.16.5 or version 3.6.0? Or both?

So it seems that there is something inside `baseArray` which are not things you can call `node.matches` on?

So it does seem to be a regression caused by #209 after all.

[2019-02-14 12:44] NetanelBasal commented on #215
3.6.0

[2019-02-14 12:44] NetanelBasal commented on #215
Correct. A `NodeList` type.

[2019-02-14 12:46] valscion commented on #215
I'm confused... in v3.16.5, it only had the `container.querySelectorAll` line, and `baseArray` was added in v3.16.6 as part of #209.

![allow_queryallbytext_to_select_text_nodes_text_content_by_tylerthehaas_ _pull_request__209_ _kentcdodds_dom-testing-library](https://user-images.githubusercontent.com/482561/52787700-5063e700-3067-11e9-9bb1-5c498bf1e6c8.png)

So v3.16.5 should work for you, but fo

[2019-02-14 12:48] NetanelBasal commented on #215
Sorry, my mistake. v3.16.5, the version without the `baseArray`.

[2019-02-14 12:54] valscion commented on #215
Right.

Ok. That would mean #213 is indeed only half way there, and I will need to come up with a test case that shows it will break for some specific input. Hmm...

So in your case, the `container.matches` line works because the `container` is a real DOM element and not `document`, like it is in Cypress.

Hmm. So spreading the `...baseArray` and `...container.querySelectorAll(selector)` together

[2019-02-14 12:55] NetanelBasal commented on #215
Yes.

[2019-02-14 13:00] valscion commented on #215
Thanks :relaxed:. This should allow me to figure out a way to fix your use case, too.

[2019-02-14 13:52] kentcdodds commented on #214
Is there a reason your forms aren't using labels? A form without a label is not nearly as accessible.

[2019-02-14 14:56] valscion commented on #215
I have a really hard time reproducing this with the existing Jest tests.

You said that:

I have a really hard time figuring out why this works for you. Basically the following would break for you:

[code]

What's strange is that we have this situation _only if_ `typeof container.matches` _is a function_. And if that method is a function, it should be perfectly fine to call `node.matches` for the

[2019-02-14 16:05] NetanelBasal commented on #215
I didn't test the entire library version. I took from the version the specific code I needed.

[2019-02-14 16:07] NetanelBasal commented on #215
I can tell you for sure that somehow one of the nodes is a `NodeList`. I will help to debug it on Sunday.

[2019-02-14 16:31] valscion commented on #215
Try v3.16.7, it might work

[2019-02-14 22:23] adnasa commented on #214
Hello
yes we do use labels 😅
however good call because we do use `htmlFor` and I simply didn't pay close attention to `queryLabelByText` 🤦‍♂️

This block gave me the info I was looking for and would have solved a lot of cases.

https://github.com/kentcdodds/dom-testing-library/blob/2cda6a77da4e5375f224acde566cc7a7da840472/src/queries.js#L43-L50

oh well, this was an easy one 😅
see you in react@AMS

[2019-02-14 22:23] #214 closed

[2019-02-15 15:42] lavigneer commented on #215
I also ran into this issue today where one of the nodes was a `NodeList` and I was running v3.16.7 of this library. I have two environments where I run tests using `react-testing-library` and it works on one but not the other:

:heavy_check_mark: Jest 24.1.0
:x: In a [storybook](https://storybook.js.org/) docs build using the [specs addon](https://github.com/mthuret/storybook-addon-specifications)

[2019-02-15 16:25] valscion commented on #215
@lavigneer did you also test v3.16.7 or were you on v3.16.6?

[2019-02-15 16:36] lavigneer commented on #215
I was using v3.16.7 when I was seeing this

[2019-02-15 17:06] valscion commented on #215
Ok thanks for the confirmation.

Can you check from the debugger whether

[code]

has something which is a `NodeList`?

Or if the `NodeList` is in this array instead?

[code]

[2019-02-15 17:28] lavigneer commented on #215
@valscion I added the debugger statement and checked the values and it looks like `container.querySelectorAll(selector)` returns a `NodeList`. The `selector` value is `'*'`.

Just as an fyi, my project resolves to using the `dist/dom-testing-library.esm.js` file. I also confirmed that the `package.json` of the module in my `node_modules` does in fact list `v3.16.7`  as the version just to make sur

[2019-02-15 17:51] valscion commented on #215
Yes I know `container.querySelectorAll(selector)` returns a `NodeList`, but is some element in this array a `NodeList`, too?

[code]

`[...container.querySelectorAll(selector)]` should convert the `NodeList` to the actual elements, as that should be functionally equivalent to `[...Array.from(container.querySelectorAll(selector))]`. Unless I'm mistaken about how array spread operator works on an It

[2019-02-15 18:21] lavigneer commented on #215
No, there aren't any elements in that `NodeList` that are also a `NodeList`

I just tested wrapping `container.querySelectorAll(selector)` explicitly in an `Array.from` call in the built `.esm` bundle and that appeared to resolve the issue.

The transpilation of
`Array.from([...baseArray, ...container.querySelectorAll(selector)])`
results in
`Array.from([].concat(baseArray, container.querySelector

[2019-02-15 18:40] valscion commented on #215
Oh! I wonder if kcd-scripts is transpiling in loose mode and causing the array spread to result in non-spec behavior? @kentcdodds here's the issue, I think

[2019-02-15 18:43] kentcdodds commented on #215
Why don't we just change it to:

`[...baseArray, ...Array.from(container.querySelectorAll(selector))]`

?

[2019-02-15 19:29] valscion commented on #215
Yup it could work.

I wonder why I couldn't come up with a test case that would break. Maybe the transpilation is not happening with the tests?

I wonder if it would be useful to try to setup the tests to run against compiled output

[2019-02-15 19:35] kentcdodds commented on #215
I'm sure it could have caught this, but the risk of this happening is very low (rarely happens) and the cost of doing that would be pretty high so it's not worth it IMO.

[2019-02-15 19:42] valscion commented on #215
Yeah true. Why are the compiled output running in loose mode, though? Does it help performance somehow?

Anyway. I'll create a fix for this

[2019-02-15 20:11] alexkrolick commented on #212
Seems somewhat related to #216 - is the build step targeting `node: 'current'` or something instead of a browser target? Seems like we should be able to:
- map each `dist` file to a specific target
- guarantee at least the UMD bundle is IE11-compatible
- document how to consume each bundle

[2019-02-15 20:12] #215 closed

[2019-02-15 20:15] #207 closed

[2019-02-15 20:16] kentcdodds commented on #215
:tada: This issue has been resolved in version 3.16.8 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.16.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-18 17:36] jjmac commented on #212
the build is targeting ES5, it's just that node modules aren't transpiled. Importing from "react-testing-library" packages ES6 code which is fine in the node cli and modern browsers but throws in IE11.

The UMD bundle is IE11 compatible, I think maybe this is just a documentation issue. It doesn't seem that the use case for running tests in IE11 is a common one.

[2019-02-20 09:30] alexkrolick commented on #201
Turns out #190 probably isn't the right solution since .innerText isn't actually implemented/implementable in JSDOM (missed that part, sorry).

But removing [the text node filter (below)](https://github.com/kentcdodds/dom-testing-library/blob/master/src/get-node-text.js#L11) in get-node-text gets pretty close to the behavior at the cost of duplicating matched nodes when you have something like `<o

[2019-02-22 15:51] ValentinH commented on #204
Any update on this @KevinHerklotz ?

[2019-02-22 16:16] ValentinH commented on #204
I just did a quick and dirty workaround for now:
[code]

I think I could have used a custom query for this but I didn't manage to do it with https://testing-library.com/docs/api-helpers#custom-queries

[2019-02-22 16:20] kentcdodds commented on #204
You could probably use [closest](https://developer.mozilla.org/en-US/docs/Web/API/Element/closest)

[2019-02-22 18:43] ValentinH commented on #204
Indeed, it's much cleaner, thanks for the suggestion! 🙂

[2019-02-25 22:13] ryandrewjohnson commented on #194
I'm not sure if this will help you, but I was having the same issue. I'm not sure if it's specific to using [jsdom-global](https://github.com/rstacruz/jsdom-global), which I'm using in my project. But I had to manually initialize the Date object on window like so in my `jest.setup.js`, and then I was good.

[code]

[2019-02-26 00:01] kentcdodds commented on #194
Hi friends 👋

I think it's odd to look for `Date` on `window`. This should be reported in `wait-for-expect` which is the module where this is happening (based on the stack trace).

[2019-02-26 00:01] #194 closed

[2019-02-26 16:41] Tolsee commented on #203
Hey @kentcdodds, I can give a try to this(most probably this weekend).

[2019-02-26 22:05] akatechis opened #219 "Docs for query APIs should not have the container argument listed."
- `react-testing-library` version: 6.0.0
- `dom-testing-library` version: 3.12.2
- `react` version: 16.8.2
- `node` version: 11.10.0

If I look at the docs for the query APIs, every function has `container` as the first parameter (https://testing-library.com/docs/api-queries#bytext). This parameter is autobound when we call `render` so this parameter should be removed from the docs.

[2019-02-26 22:12] alexkrolick commented on #219
DOM testing library does not autobind by default. This is a feature of react-testing-library which is documented in the `render` docs: https://testing-library.com/docs/react-testing-library/api#render

[2019-02-26 22:12] #219 closed

[2019-02-26 22:48] akatechis commented on #219
Fair enough, I think I must have clicked the "API" link that is above the Wrappers section on the left side, which took me to the DTL docs and I didn't notice that it was not RTL-specific.

[2019-02-26 23:13] alexkrolick commented on #219
Feel free to file an issue or PR to improve the organization in the docs repo: https://github.com/alexkrolick/testing-library-docs

This one might make navigating between sections a bit better: https://github.com/alexkrolick/testing-library-docs/issues/40

[2019-03-07 09:37] weyert commented on #203
What's the idea just copy over the files from the other repo? I can do that :D

[2019-03-07 14:58] kentcdodds commented on #203
What other files/repo?

[2019-03-07 14:58] kentcdodds commented on #203
Oh, no, this will be implemented as queries instead. Much better.

[2019-03-07 17:35] alexkrolick commented on #203
Yeah, used named functions in queries.js. Don't use the custom wait either, use waitForElement.

[2019-03-07 20:47] weyert commented on #203
Ah okay, I will see if I find the time over the weekend/next week

[2019-03-12 17:24] kentcdodds commented on #159
:tada: This issue has been resolved in version 3.17.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.17.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-13 12:08] ldabiralai commented on #206
This should be closed now the PR was merged and released!

[2019-03-13 13:21] #206 closed

[2019-03-18 10:40] dicardopegb commented on #196
Hi. I'm not sure if this is related, but I'm trying this:
* I've two forms in the same HTML page, both have inputs with the same labels, like this:
[code]
* The I try to select the second input by label text by doing this:
[code]

What I get back is the first input, I'd expect to get the second one because the context of the query is the form and not the container that includes both forms.

[2019-03-19 18:58] kentcdodds commented on #203
I'm working on this as I type this: https://www.youtube.com/watch?v=s0GLe81-9QY&index=2&list=PLV5CVI1eNcJgJCEkMlsqXea6OIF_uV_ub&t=0s

[2019-03-19 19:11] kentcdodds opened #223 "Remove undocumented queries"
Like:

- BySelectText
- ByValue

Those two are now handled via `ByDisplayValue` :+1:

This will be a breaking change. And I'm working on it today hopefully.

[2019-03-19 20:46] #203 closed

[2019-03-19 20:49] kentcdodds commented on #203
:tada: This issue has been resolved in version 3.18.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.18.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-19 20:51] kentcdodds opened #226 "Add typescript definitions for findBy* queries"
I don't trust myself with typing those, so if someone would be good enough to do that, I would appreciate it!

[2019-03-19 20:55] kentcdodds commented on #199
Did you ever figure this one out? You may be better off asking this on spectrum: https://spectrum.chat/react-testing-library

[2019-03-19 20:55] #199 closed

[2019-03-19 20:57] kentcdodds commented on #212
Yes, this is true.

I think we're going to go with requiring people to use the UMD if they need old browser support. Maybe we could add a note to the docs?

What do you all think?

[2019-03-19 20:57] #212 closed

[2019-03-19 21:00] alexkrolick commented on #226
Pretty sure it's `Promise<HTMLElement | Error>`, `Promise<HTMLElement[] | Error>`

[2019-03-19 21:23] kentcdodds commented on #201
Ok, so I'm working on this a bit and I've hit a bit of a road block partially due to the way this works, but also partially due to not being sure of the best way to go about this.

For example:

[code]

With that you want to get the `div#one` element.

But what about this:

[code]

Which element should you get in this case?

I'm not sure that we can actually come to a "right" answer here... Honest

[2019-03-19 21:26] kentcdodds commented on #204
I wonder if the best way to solve this would be to say: "find me the closest interactive element" via a config option like this:

[code]

And the implementation would be basically to add something like this to the end of the query:

[code]

Just an idea... Not sure I like it.

[2019-03-19 21:28] kentcdodds commented on #196
@dicardopegb, the problem there is you're selecting thin by the label text but there is no label.

Please make a reproduction in codesandbox and post it to https://spectrum.chat/react-testing-library

Thanks!

[2019-03-19 21:28] kentcdodds commented on #196
I think we're going to opt to put this in another package for now. Anyone can feel free to work on that.

[2019-03-19 21:39] ValentinH commented on #204
I like this very much!

[2019-03-19 22:25] Soulforged commented on #196
@kentcdodds I'm not sure why you say there's no label there, I can see that there's no opening label tag for one of the labels, but it was just a typo.

Anyway, let me write down that example when I'm back in my computer.

[2019-03-19 23:08] alexkrolick commented on #201
Yeah, that's similar to what I ran into - in a lot of cases you'll even end up with document.body if the tree is simply nested

[2019-03-20 10:14] NehrDani opened #230 "Latest release (3.18.1) breaks labels with nested spans"
- `dom-testing-library` version: 3.18.1
- `react` version: 1.18.4
- `node` version: 10.15.2
- `npm` (or `yarn`) version:  yarn 1.15.2

### Relevant code or config:

[code]

### What you did:

Just installed `react-testing-library` after cleaning up my `node_modules`.

### What happened:

All Tests using `getLabelById` with nested `spans` are failing.

### Reproduction:

https://codesandbox.io/s/0y

[2019-03-20 14:01] JaxCavalera commented on #226
I put together the type definitions for findBy and findAllBy queries,  but am unable to commit due to:
[code]
I could bypass the pre-commit as running lint locally passes, same with `npm run validate`. Running `npm run setup` passes everything except 1 test and this turned out to be due to my machine running a little slower than the test allocated for:
[code]
Thoughts?

[2019-03-20 16:33] helixbass commented on #201
Is returning the "smallest enclosing" element problematic? So eg in the second example above, you'd get `div#one` because it matches the query (and is the smallest such element)

[2019-03-20 16:35] kentcdodds commented on #201
I think that's probably the most sensible. This will be a nontrivial change I'm afraid. But probably possible. I think I'd like to work on it, but I'd like to hear what other people think about it.

[2019-03-20 17:12] kentcdodds commented on #230
Honestly, I think the new behavior is problematic and probably never what we want. So I'm going to just revert it.

[2019-03-20 17:22] #230 closed

[2019-03-20 22:01] kentcdodds commented on #226
Thanks to @JaxCavalera, this has been resolved.

[2019-03-20 22:01] #226 closed

[2019-03-20 23:09] kentcdodds commented on #230
:tada: This issue has been resolved in version 3.18.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/dom-testing-library/releases/tag/v3.18.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-21 08:21] huchenme commented on #223
May I know where can I find documentation for all methods listed here? https://github.com/kentcdodds/dom-testing-library/blob/master/src/queries.js

[2019-03-21 08:35] huchenme opened #233 "Expose `queryAllLabelsByText`"
Currently, I have a component with a list of radio buttons, each radio button is a label with input and text

[code]

I could not figure out the way to test the style on `label` of "Option 1" is red, `getByLabelText` would return input instead of `label`, could anyone help?

[2019-03-21 12:52] kentcdodds commented on #233
Use `getByText` 👍

[2019-03-21 12:52] #233 closed

[2019-03-21 15:24] kentcdodds commented on #223
Here you go: https://testing-library.com/docs/api-queries

[2019-03-25 02:57] huchenme commented on #233
end up writing a custom function to do this

[code]

This function looks hacky and not a first-class citizen if I would like to select something like this. Would you consider to make selectors more flexible?

[2019-03-25 03:45] alexkrolick commented on #233
`getByText` already supports a selector option: https://testing-library.com/docs/api-queries#bytext

[code]

In general tag name is not a user-visible distinguisher, except for elements that have a semantic relationship for tab navigation and screen readers.

[2019-03-25 09:21] jakoandersen commented on #199
No, unfortunately not. The method worked in the sandbox, and investigating my application and render tree did not reveal any sideeffects that could have caused this issue.

[2019-03-26 08:52] huchenme commented on #233
@alexkrolick unfortunately `getByText(container, value, { selector: 'label' })` is not working in my case

DOM:

[code]

query:

[code]

error:

[code]

But this is working:

[code]

[2019-03-26 21:38] PabloDinella opened #234 "UMD bundle can't be loaded into browser"
- `dom-testing-library` version: 3.17.0
- `react` version: N/A
- `node` version: N/A
- `npm` (or `yarn`) version: N/A

### Relevant code or config:

[code]

### What you did:

Trying to load DomTestingLibrary into the browser.

### What happened:

[code]

### Reproduction:

Run the config code above on the devtools and then:

[code]

### Problem description:

Hello, I was just trying to use dom-te

[2019-03-26 21:55] alexkrolick commented on #234
The UMD files are very different here:

https://unpkg.com/dom-testing-library@3.16.8/dist/dom-testing-library.umd.js
https://unpkg.com/dom-testing-library@3.17.0/dist/dom-testing-library.umd.js

The 3.16.8 one is an actual 154kb bundle but versions 3.17.0+ (current is 3.18.2) have a bunch of external references instead (~3kb).

I'm guessing since there is no lockfile, the package that provides the

[2019-03-26 23:34] PabloDinella commented on #234
You're right, `kcd-scripts` builds ok on version 0.48.0. I'm looking into [what changed in version 0.49.0](https://github.com/kentcdodds/kcd-scripts/compare/v0.48.0...v0.49.0) but didn't understand what's going on yet

[2019-03-27 04:27] ngtan commented on #92
I got the same problem.
`
const wrapper = render(<DumbComponent />);
const submitButtonElm = wrapper.getByTestId('submit-btn');
const handleClick = jest.fn();

console.log(submitButtonElm.disabled); // true
submitButtonElm.addEventListener('click', handleClick, false);
fireEvent.click(submitButtonElm);

expect(handleClick).toHaveBeenCalled();
`
I tried to run my code in the browser, the event hand

[2019-03-27 04:28] kentcdodds commented on #92
Can you please make a codesandbox of that?

[2019-03-27 05:15] ngtan commented on #92
@kentcdodds Thanks for your quickly response.
[Here is the code](https://codesandbox.io/s/5wpqw732yk) I don't know why it works well on codesandbox. I have the same code as on the codesandbox, but it's failed (the same react-testing-library@6.0.0 version). So weird.

[2019-03-27 05:47] ngtan commented on #92
I have just pushed the code on  the [repo](https://github.com/ngtan/react-testing-reproduce). Please take a few minutes to check it out. The same code on the Codesanbox, but it's failed.

[2019-04-02 09:06] mpareja commented on #201
What if there was a way to define tags (selectors?) to ignore / consider as the enclosing nodes?

For the example above: `getByText(/Some nested text/, { ignore: 'span' })`

It's a bit of a trade-off between "do what the user does" and knowing some of the HTML internals. (Or maybe it's not that far off since typically the user _does_ see the different styling, like bold text, and then ends-up inte

[2019-04-03 15:58] kentcdodds commented on #201
What about `getByText((element) => /* return true if it's what you're looking for */)`

Because that's currently supported :)

[2019-04-04 13:09] szabototo89 commented on #202
I think this a great idea, but it should also be configurable in the options object:
[code]

[2019-04-04 13:14] kentcdodds commented on #202
Sorry, but I don't see why it should be configurable. If you think there could be more than one then use getAll*

[2019-04-05 16:56] viniciusavieira commented on #204
I found it can be interesting.
Are you willing a PR to test if it works as expect?
I can try, since it looks like a good first issue to me and a good learning opportunity.

[2019-04-05 17:04] kentcdodds commented on #204
Go ahead and make the PR. No promises that I'll merge it though. I'm not sure I like the option.

[2019-04-08 16:46] briandipalma opened #237 "IE11 support?"
### Describe the feature you'd like:

I'd like to add support for IE11.

### Suggested implementation:

Adding imports for two polyfills:

[code]

events for `events.js` and matches for `get-node-text.js`

[2019-04-08 16:58] kentcdodds commented on #237
Hi. Thanks for the issue.

I don't add polyfills in my libraries. I expect people to either use it in an environment that doesn't need to polyfill, or include the polyfill themselves.

You're welcome to contribute to the docs to add an IE11 section where this is described.

[2019-04-10 13:27] PaulInglis opened #238 "Select element by testRole"
### Describe the feature you'd like:

`getByTestId` has a really nice implementation and we've adopted using `data-test-id` in our code for selenium testing and we are now looking at using in unit testing too.
Currently, in our defined testing strategy, we have a component assigned to a `data-test-id`, but we then have elements within the component defined with a `data-test-role` attribute.

For e

[2019-04-10 14:32] siliconeidolon commented on #238
Definitely think there should be more flexibility allowed when defining `data-test` selectors.

[2019-04-10 15:37] kentcdodds commented on #238
I really feel like data-testid's should be used as a last resort. Your application should be accessible and you should be using more semantic queries to get your elements.

If you'd like, you can define your own custom queries pretty easily in a custom render method: https://testing-library.com/docs/react-testing-library/api#queries

I'm pretty sure I don't want to add another query for test IDs..

[2019-04-10 16:11] alexkrolick commented on #238
I think in this case you don't need two types of test id, really? It doesn't look like the strings collide. If you want to scope the second query you can use within:

[code]

[2019-04-12 01:03] bopfer commented on #226
This may be a naive question, but why is `Error` a possible return value for findBy* queries?  It pretty much negates the convenience of using them over "waitForElement + getBy*".  Now, I have to check to make sure the return was not `Error` before I can use the element.  I guess I can make my own wrapper for that, but I was just curious.

[2019-04-12 01:05] alexkrolick commented on #226
It shouldn't return an error, it returns a Promise that can reject with an error (which throws when used with async/await syntax)

[2019-04-12 01:07] #238 closed

[2019-04-12 02:49] bopfer commented on #226
@alexkrolick, Hmm, maybe there is a discrepancy.  What you typed in the 2nd comment in this issue is not what is in the typings.  In the typings it is `Promise<HTMLElement> | Error`.  Which means for TypeScript to be happy in my tests I have to do:

[code]

[2019-04-12 03:10] alexkrolick commented on #226
If you're a Typescript user, care to make a PR to fix that?

[2019-04-12 04:05] bopfer commented on #226
Will do.  I think the ` | Error` part should just be removed completely. Since the error will be thrown, an `Error` will never actually be returned.

[2019-04-14 00:14] marcelmokos opened #244 "ByDataAttribute same as ByTestId but for any data attribute possible."
### Describe the feature you'd like:

**ByDataAttribute** same as **ByTestId** but for any data attribute possible.

- reason is that currently we are using both `data-testid` and `data-message-id` for locating our dom elements in tests.
- `data-message-id` are created by `react-intl` fork we have created https://www.npmjs.com/package/react-intl-with-data-message-id

### Suggested implementation:

[2019-04-14 06:24] alexkrolick commented on #244
Adding a higher-level API would encourage using data attributes too much, which goes against the goal of providing accessible APIs that enable testing the app using the user interface.

The queryByAttribute helper you are using is exported for exactly this use case - creating custom queries for specific libraries or patterns in your app. Instead of creating a generic data-attribute query, expose s

[2019-04-14 11:33] marcelmokos commented on #244
I will have to try to use query(All)ByAttribute in our tests. I do not want to encourage using invisible data attributes.

Every app we are creating is using more than one language and we default to use `react-intl` for any text on the page. Since translations are not one of the responsibilities of the dev team we started using `data-message-id` as a solution that works well with testing and CMS a

[2019-04-14 23:48] alexkrolick commented on #244
Instead of using queryAllByAttribute directly in tests I would make a custom query and custom render:

- https://testing-library.com/docs/dom-testing-library/api-helpers#custom-queries
- https://testing-library.com/docs/react-testing-library/setup#custom-render

[2019-04-14 23:48] #244 closed

[2019-04-14 23:48] #237 closed

[2019-04-16 17:40] mattharrigan opened #245 "event.nativeEvent missing attributes after fireEvent"
Copy of https://github.com/kentcdodds/react-testing-library/issues/342 sinceI think  it is more applicable to this repo.

- `react-testing-library` version: 6.0.4
- `react` version: 16.8.2
- `node` version: 10.14.1
- `npm` version: 6.8.0

### Relevant code or config:

App.js
[code]

App.test.js
[code]

### What you did:

Test a react component which has event handlers for mouse events

### What ha

[2019-04-16 18:00] bcarroll22 commented on #245
```fireEvent.mouseDown(rect, { nativeEvent: { offsetX: 10, offsetY: 20, button: 0 } });```

this should do the trick.

[2019-04-16 19:06] mattharrigan commented on #245
@bcarroll22 yes.  I haven't used codesandbox much but it seems kinda flaky.  When I run it locally the console log does contain them.

[2019-04-16 19:19] bcarroll22 commented on #245
Got it. Here you go: https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/offsetX

offsetX and offsetY are readonly properties. Don't have time to test this right now, but maybe this would work?

[code]

I think that would probably allow you to overwrite the readonly event property for your case?

[2019-04-19 13:07] Miklet commented on #201
Thank you @kentcdodds for the tip. I had element which looked like this:
[code]
and I wanted to match "0.00 PLN". I found it using custom matcher:
[code]

[2019-04-19 13:09] kentcdodds commented on #201
Cool. I think we'll just stick with that as a workaround and we'll be good 👍

[2019-04-19 13:09] #201 closed

[2019-04-22 12:50] mattharrigan commented on #245
Using your approach i get a console warning:

`
Warning: This synthetic event is reused for performance reasons. If you're seeing this, you're accessing the property `buttons` on a released/nullified synthetic event. This is set to null. If you must keep the original synthetic event around, use event.persist(). See https://fb.me/react-event-pooling for more information.
`

I am making a variation

[2019-04-22 13:15] kentcdodds commented on #245
Hmmm... That warning is more likely to be an issue with your application code than test code. Do you have a codesandbox/repo that reproduces this issue?

[2019-04-22 13:23] mattharrigan commented on #245
https://codesandbox.io/s/qvw69812r9

[2019-04-22 13:37] bcarroll22 commented on #245
Do you have a repro for the synthetic event warning?

Related issue: https://github.com/kentcdodds/react-testing-library/issues/268

The MouseEvent constructor doesn't accept offsetX and offsetY, that's why they don't show up on the event when you provide them. So it's actually not even JSDOM that's preventing it from being set, it's the constructor spec which means there's likely no bug to fix fo

[2019-04-22 13:46] mattharrigan commented on #245
https://codesandbox.io/s/qvw69812r9

sorry I should stop messing with it

[2019-04-22 17:00] kentcdodds commented on #245
Here's a working version:

https://codesandbox.io/s/yv2811x0vj

There were a few problems:

1. The warning you were seeing was totally unrelated to the test. It was something codesandbox was doing to keep a live-binding in the console log by accessing properties on the object you'd logged. Removing the log removes warnings.
2. I guess React's Synthetic `event` doesn't have the `offsetY` and `offse

[2019-04-22 17:01] #245 closed

[2019-04-22 19:05] mattharrigan commented on #245
Thank you very much

[2019-04-23 04:08] ssmukesh opened #248 "npm install throwing error"
- `dom-testing-library` version: 3.19.3
- `react` version:
- `node` version: 11.14.0
- `npm` (or `yarn`) version: 6.7.0

### Relevant code or config:

[code]

### What you did:

npm i dom-testing-library

### What happened:

npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@sheerun%2fmutationobserver-shim - User not found
npm ERR! 404
npm ERR! 404  '@sheerun/mutationobser